<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.iad-cloudkit</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>aps-environment</key>
	<string>production</string>
	<key>com.apple.MobileAsset.SearchAds.AppVector</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.accounts.idms.fullaccess</key>
	<true/>
	<key>com.apple.application-identifier</key>
	<string>com.apple.iad-cloudkit</string>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.developer.icloud-container-environment</key>
	<string>Production</string>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.launchservices.clearadvertisingid</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.private.applemediaservices</key>
	<true/>
	<key>com.apple.private.aps-connection-initiate</key>
	<true/>
	<key>com.apple.private.cloudkit.masquerade</key>
	<true/>
	<key>com.apple.private.cloudkit.serviceNameForContainerMap</key>
	<dict>
		<key>com.apple.iad-cloudkit-secure</key>
		<string>com.apple.iad-cloudkit</string>
	</dict>
	<key>com.apple.private.cloudkit.setEnvironment</key>
	<true/>
	<key>com.apple.private.cloudkit.spi</key>
	<true/>
	<key>com.apple.private.cloudkit.systemService</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.iad.opt-in-control</key>
	<true/>
	<key>com.apple.private.security.storage.adprivacyd</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceLiverpool</string>
		<string>kTCCServiceUserTracking</string>
	</array>
	<key>com.apple.private.tcc.manager.access.read</key>
	<array>
		<string>kTCCServiceAll</string>
	</array>
	<key>com.apple.private.tcc.manager.check-by-audit-token</key>
	<array>
		<string>kTCCServiceUserTracking</string>
	</array>
	<key>com.apple.privatefederatedlearning.allowed</key>
	<true/>
	<key>com.apple.proactive.eventtracker</key>
	<true/>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.AdPlatforms</string>
		<string>com.apple.AppStore</string>
	</array>
	<key>com.apple.trial.client</key>
	<array>
		<string>511</string>
		<string>512</string>
		<string>513</string>
		<string>514</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
	</array>
	<key>seatbelt-profiles</key>
	<array>
		<string>adtrackingd</string>
	</array>
</dict>
</plist>