<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abs-client</key>
	<string>143531244</string>
	<key>adi-client</key>
	<string>572356293</string>
	<key>application-identifier</key>
	<string>com.apple.akd</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
		<string>identity</string>
	</array>
	<key>com.apple.CompanionLink</key>
	<true/>
	<key>com.apple.accounts.idms.fullaccess</key>
	<true/>
	<key>com.apple.appletv.pbs.user-presentation-service-access</key>
	<true/>
	<key>com.apple.apsd.ios-device-push-token</key>
	<true/>
	<key>com.apple.authentication-services-core.allow-authentication-request-proxying</key>
	<true/>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.cdp.walrus</key>
	<true/>
	<key>com.apple.coreidvd.spi</key>
	<true/>
	<key>com.apple.developer.associated-domains</key>
	<array/>
	<key>com.apple.developer.device-information.user-assigned-device-name</key>
	<true/>
	<key>com.apple.devicecheckd</key>
	<true/>
	<key>com.apple.frontboard.debugapplications</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.keystore.lockassertion</key>
	<true/>
	<key>com.apple.keystore.sik.access</key>
	<true/>
	<key>com.apple.mobileactivationd.device-identifiers</key>
	<true/>
	<key>com.apple.mobileactivationd.spi</key>
	<true/>
	<key>com.apple.nano.nanoregistry</key>
	<true/>
	<key>com.apple.private.MobileActivation</key>
	<array>
		<string>RequestActivationState</string>
	</array>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.adid</key>
	<true/>
	<key>com.apple.private.applemediaservices</key>
	<true/>
	<key>com.apple.private.aps-connection-initiate</key>
	<true/>
	<key>com.apple.private.associated-domains</key>
	<true/>
	<key>com.apple.private.followup</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.anisette</string>
	</array>
	<key>com.apple.private.ids.messaging.urgent-priority</key>
	<array>
		<string>com.apple.private.alloy.anisette</string>
	</array>
	<key>com.apple.private.ids.phone-number-authentication</key>
	<true/>
	<key>com.apple.private.ids.remotecredentials</key>
	<true/>
	<key>com.apple.private.imcore.imremoteurlconnection</key>
	<true/>
	<key>com.apple.private.keychain.circle.join</key>
	<true/>
	<key>com.apple.private.notificationcenter-system</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>com.apple.AuthKit</string>
		</dict>
	</array>
	<key>com.apple.private.octagon</key>
	<true/>
	<key>com.apple.private.security.storage.Safari</key>
	<true/>
	<key>com.apple.private.storagekitd.info</key>
	<true/>
	<key>com.apple.private.swc.system-app</key>
	<true/>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.Preferences</string>
	</array>
	<key>com.apple.security.attestation.access</key>
	<true/>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.SharedWebCredentials</string>
		<string>com.apple.fairplayd.versioned</string>
		<string>com.apple.mobile.keybagd.xpc</string>
		<string>com.apple.mobileactivationd</string>
		<string>com.apple.devicecheckd</string>
		<string>com.apple.AuthenticationServicesCore.AuthenticationServicesAgent</string>
		<string>com.apple.CompanionLink</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.nanobuddy</string>
		<string>com.apple.pairedsync</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.system-container</key>
	<true/>
	<key>com.apple.sharing.Services</key>
	<true/>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.activateRemoteAlert</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.symptom_diagnostics.report</key>
	<true/>
	<key>com.apple.usermanagerd.persona.background</key>
	<true/>
	<key>com.apple.usermanagerd.persona.fetch</key>
	<true/>
	<key>fairplay-client</key>
	<string>508119322</string>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.akd</string>
		<string>com.apple.cfnetwork</string>
		<string>com.apple.akd.pcsauth</string>
	</array>
	<key>keychain-cloud-circle</key>
	<true/>
	<key>platform-application</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>akd</string>
	</array>
</dict>
</plist>