<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.itunesstored.metrics</key>
	<true/>
	<key>com.apple.nano.nanoregistry</key>
	<true/>
	<key>com.apple.private.InstallCoordination.allowed</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>UniqueDeviceID</string>
	</array>
	<key>com.apple.private.appstored</key>
	<array>
		<string>Install</string>
	</array>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.appconduit</string>
		<string>com.apple.private.alloy.appconduit.v2</string>
		<string>com.apple.private.alloy.appsyncconduit</string>
		<string>com.apple.private.alloy.appsyncconduit.v2</string>
	</array>
	<key>com.apple.private.ids.messaging.high-priority</key>
	<array>
		<string>com.apple.private.alloy.appconduit</string>
		<string>com.apple.private.alloy.appconduit.v2</string>
		<string>com.apple.private.alloy.appsyncconduit</string>
		<string>com.apple.private.alloy.appsyncconduit.v2</string>
	</array>
	<key>com.apple.private.ids.prefer-infrawifi</key>
	<array>
		<string>com.apple.private.alloy.appconduit</string>
		<string>com.apple.private.alloy.appconduit.v2</string>
		<string>com.apple.private.alloy.appsyncconduit</string>
		<string>com.apple.private.alloy.appsyncconduit.v2</string>
	</array>
	<key>com.apple.private.ids.self-session</key>
	<array>
		<string>com.apple.private.alloy.appconduit</string>
		<string>com.apple.private.alloy.appconduit.v2</string>
	</array>
	<key>com.apple.private.mobileinstall.allowedSPI</key>
	<array>
		<string>SnapshotWKApp</string>
		<string>GetAppMetadata</string>
		<string>WaitForSystemAppMigrationToComplete</string>
	</array>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.installcoordinationd</string>
	</array>
	<key>com.apple.springboard.opensensitiveurl</key>
	<array>
		<string>bridge:</string>
	</array>
	<key>seatbelt-profiles</key>
	<array>
		<string>appconduitd</string>
	</array>
</dict>
</plist>