<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.appleaccountd</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>com.apple.application-identifier</key>
	<string>com.apple.appleaccountd</string>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.cdp.recoverykey</key>
	<true/>
	<key>com.apple.cdp.walrus</key>
	<true/>
	<key>com.apple.cdp.walrus.pcskeys</key>
	<true/>
	<key>com.apple.developer.icloud-container-environment</key>
	<string>Production</string>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>com.apple.appleaccount.custodian.private</string>
		<string>com.apple.appleaccount.custodian</string>
		<string>com.apple.appleaccount.beneficiary</string>
		<string>com.apple.appleaccount.beneficiary.private</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.frontboard.debugapplications</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.appleaccount.app-hidden-from-icloud-settings</key>
	<true/>
	<key>com.apple.private.aps-connection-initiate</key>
	<true/>
	<key>com.apple.private.cloudkit.masquerade</key>
	<true/>
	<key>com.apple.private.cloudkit.serviceNameForContainerMap</key>
	<dict>
		<key>com.apple.appleaccount.beneficiary.private</key>
		<string>com.apple.appleaccount.beneficiary</string>
		<key>com.apple.appleaccount.custodian.private</key>
		<string>com.apple.appleaccount.custodian</string>
	</dict>
	<key>com.apple.private.cloudkit.systemService</key>
	<true/>
	<key>com.apple.private.familycircle</key>
	<true/>
	<key>com.apple.private.followup</key>
	<true/>
	<key>com.apple.private.ids.idquery-cache</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.accounts.representative</string>
	</array>
	<key>com.apple.private.ids.messaging.urgent-priority</key>
	<array>
		<string>com.apple.private.alloy.accounts.representative</string>
	</array>
	<key>com.apple.private.keychain.sysbound</key>
	<true/>
	<key>com.apple.private.notificationcenter-system</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>com.apple.AppleAccount</string>
		</dict>
	</array>
	<key>com.apple.private.octagon</key>
	<true/>
	<key>com.apple.private.security.storage.appleaccountd</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceLiverpool</string>
		<string>kTCCServiceAddressBook</string>
	</array>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.appleaccount.notifications</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/preferences/com.apple.networkd.plist</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/com.apple.appleaccountd/</string>
		<string>/Library/HTTPStorages</string>
		<string>/Library/HTTPStorages/com.apple.appleaccountd/</string>
		<string>/Library/Caches/com.apple.AppleAccount/</string>
	</array>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>AppleKeyStoreUserClient</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.familycircle.agent</string>
		<string>com.apple.ak.auth.xpc</string>
		<string>com.apple.ak.anisette.xpc</string>
		<string>com.apple.ak.custodian.xpc</string>
		<string>com.apple.ak.inheritance.xpc</string>
		<string>com.apple.ak.walrus.xpc</string>
		<string>com.apple.accountsd.accountmanager</string>
		<string>com.apple.analyticsd</string>
		<string>com.apple.apsd</string>
		<string>com.apple.cloudd</string>
		<string>com.apple.contactsd</string>
		<string>com.apple.corefollowup.agent</string>
		<string>com.apple.identityservicesd.embedded.auth</string>
		<string>com.apple.identityservicesd.idquery.desktop.auth</string>
		<string>com.apple.identityservicesd.idquery.embedded.auth</string>
		<string>com.apple.securityd.xpc</string>
		<string>com.apple.security.octagon</string>
		<string>com.apple.SystemConfiguration.configd</string>
		<string>com.apple.frontboard.systemappservices</string>
		<string>com.apple.usernotifications.usernotificationservice</string>
		<string>com.apple.cdp.daemon</string>
		<string>com.apple.securityd</string>
		<string>com.apple.usernotifications.usernotificationservice</string>
		<string>com.apple.AppSSO.service-xpc</string>
		<string>com.apple.usymptomsd</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.appleaccountd</string>
		<string>com.apple.appleaccount</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.personal-information.addressbook</key>
	<true/>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.nsurlstoragedresources</string>
	</array>
	<key>com.apple.security.temporary-exception.iokit-user-client-class</key>
	<string>AppleKeyStoreUserClient</string>
	<key>com.apple.security.ts.cloudkit-client</key>
	<true/>
	<key>com.apple.security.ts.tmpdir</key>
	<string>com.apple.appleaccountd</string>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.remote-alert</key>
	<true/>
	<key>com.apple.usermanagerd.persona.fetch</key>
	<true/>
	<key>platform-application</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>temporary-sandbox</string>
	</array>
</dict>
</plist>