<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.appstorecomponentsd</string>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.accounts.appleidauthentication.defaultaccess</key>
	<true/>
	<key>com.apple.appconduitd.allowedSPI</key>
	<array>
		<string>DeletableSystemAppInstallability</string>
	</array>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.carousel.auth-alerts</key>
	<true/>
	<key>com.apple.nano.nanoregistry.generalaccess</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>any-telephony</string>
		<string>venice</string>
		<string>wapi</string>
		<string>DeviceClass</string>
		<string>ProductType</string>
		<string>N8lZxRgC7lfdRS3dRLn+Ag</string>
		<string>MainScreenCanvasSizes</string>
		<string>main-screen-scale</string>
		<string>DeviceCornerRadius</string>
		<string>DeviceClassNumber</string>
		<string>arkit</string>
		<string>front-depth-camera</string>
		<string>magnetometer</string>
	</array>
	<key>com.apple.private.accounts.customaccesssinfo</key>
	<true/>
	<key>com.apple.private.applemediaservices</key>
	<true/>
	<key>com.apple.private.appstored</key>
	<array>
		<string>Install</string>
		<string>Purchase</string>
		<string>Library</string>
		<string>IAPHistory</string>
		<string>Personalization</string>
		<string>Update</string>
		<string>PurchaseHistory</string>
	</array>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.logging.diagnostic</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/Library/Application Support/CrashReporter/DiagnosticMessagesHistory.plist</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/Caches/com.apple.AppleMediaServices/</string>
		<string>/Library/Caches/com.apple.appstorecomponentsd/</string>
		<string>/Library/Logs/com.apple.StoreServices/</string>
		<string>/Library/HTTPStorages/com.apple.appstorecomponentsd/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.ak.auth.xpc</string>
		<string>com.apple.appstored.xpc.jobmanager</string>
		<string>com.apple.appstored.xpc.request</string>
		<string>com.apple.appstored.xpc.updates</string>
		<string>com.apple.appstored.xpc</string>
		<string>com.apple.managedconfiguration.profiled</string>
		<string>com.apple.SBUserNotification</string>
		<string>com.apple.fairplayd.versioned</string>
		<string>com.apple.adid</string>
		<string>com.apple.xpc.amsaccountsd</string>
		<string>com.apple.commerce</string>
		<string>com.apple.CoreAuthentication.agent</string>
		<string>com.apple.fpsd</string>
		<string>com.apple.usernotifications.usernotificationservice</string>
		<string>com.apple.Carousel.authAlertXPCService</string>
		<string>com.apple.appconduitd.application-manager</string>
	</array>
	<key>com.apple.security.exception.mach-register.global-name</key>
	<array>
		<string>com.apple.chrono.event-service.appstorecomponentsd</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.private.health.heart-rhythm</string>
		<string>com.apple.private.health.respiratory</string>
		<string>com.apple.demo-settings</string>
		<string>com.apple.Fitness</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.appstore</string>
		<string>com.apple.AppleMediaServices</string>
		<string>com.apple.AppStoreComponents</string>
		<string>com.apple.itunesstored</string>
		<string>com.apple.appstorecomponentsd</string>
		<string>com.apple.AppleMediaServices.notbackedup</string>
		<string>com.apple.storeservices.itfe</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.ts.framebuffer-access</key>
	<true/>
	<key>com.apple.security.ts.tmpdir</key>
	<string>com.apple.appstorecomponentsd</string>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>fairplay-client</key>
	<string>1699554724</string>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
	</array>
	<key>platform-application</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>temporary-sandbox</string>
	</array>
</dict>
</plist>