<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
	</array>
	<key>com.apple.QuartzCore.displayable-context</key>
	<true/>
	<key>com.apple.QuartzCore.global-capture</key>
	<true/>
	<key>com.apple.QuartzCore.occlusion-override</key>
	<true/>
	<key>com.apple.QuartzCore.secure-mode</key>
	<true/>
	<key>com.apple.RootedSimulatorPath</key>
	<true/>
	<key>com.apple.afk.user</key>
	<true/>
	<key>com.apple.backboard.client</key>
	<true/>
	<key>com.apple.backboardd</key>
	<true/>
	<key>com.apple.backboardd.replacesystemapp</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.carkit.layer-metadata</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreduetd.context</key>
	<true/>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>com.apple.backboardd</string>
	<key>com.apple.diagnosticpipeline.request</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.frontboardservices.display-layout-monitor</key>
	<true/>
	<key>com.apple.gasgauge.user-access-device</key>
	<true/>
	<key>com.apple.hid.manager.user-access-custom-queue-size</key>
	<true/>
	<key>com.apple.hid.manager.user-access-device</key>
	<true/>
	<key>com.apple.hid.manager.user-access-keyboard</key>
	<true/>
	<key>com.apple.hid.multitouch.user-access</key>
	<true/>
	<key>com.apple.hid.system.user-access-service</key>
	<true/>
	<key>com.apple.hid.transport.user-access</key>
	<true/>
	<key>com.apple.idle-timer-services</key>
	<true/>
	<key>com.apple.internal.display-params-access-privileged</key>
	<true/>
	<key>com.apple.iohideventsystem.server</key>
	<true/>
	<key>com.apple.keystore.fdr-access</key>
	<true/>
	<key>com.apple.keystore.sik.access</key>
	<true/>
	<key>com.apple.locationd.activity</key>
	<true/>
	<key>com.apple.nano.nanoregistry.generalaccess</key>
	<true/>
	<key>com.apple.private.IOSurface.protected-access</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>CoverglassSerialNumber</string>
		<string>AmbientLightSensorSerialNumber</string>
		<string>BootManifestHash</string>
		<string>UniqueChipID</string>
		<string>SysCfgDict</string>
		<string>WirelessBoardSnum</string>
		<string>BatterySerialNumber</string>
		<string>RoswellChipID</string>
	</array>
	<key>com.apple.private.ZhuGeSupport.CopyValue</key>
	<true/>
	<key>com.apple.private.accessories.showallconnections</key>
	<true/>
	<key>com.apple.private.aea.haptics.user-access</key>
	<true/>
	<key>com.apple.private.allow-explicit-graphics-priority</key>
	<true/>
	<key>com.apple.private.applepearl.allow</key>
	<true/>
	<key>com.apple.private.applesmc.user-access</key>
	<true/>
	<key>com.apple.private.bmk.allow</key>
	<true/>
	<key>com.apple.private.cecd.control</key>
	<true/>
	<key>com.apple.private.cecd.observer</key>
	<true/>
	<key>com.apple.private.gain-map-access</key>
	<true/>
	<key>com.apple.private.graphics-restart-no-kill</key>
	<true/>
	<key>com.apple.private.hid.client.event-dispatch</key>
	<true/>
	<key>com.apple.private.hid.client.event-filter</key>
	<true/>
	<key>com.apple.private.hid.client.event-monitor</key>
	<true/>
	<key>com.apple.private.hid.manager.client</key>
	<true/>
	<key>com.apple.private.iokit.rootdomain-set-property</key>
	<true/>
	<key>com.apple.private.iomfb.set-block</key>
	<true/>
	<key>com.apple.private.kernel.work-interval</key>
	<true/>
	<key>com.apple.private.mobile_storage.allowedSPI</key>
	<array>
		<string>CopyDevices</string>
	</array>
	<key>com.apple.private.ppm.client</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceListenEvent</string>
	</array>
	<key>com.apple.private.tcc.manager.access.read</key>
	<array>
		<string>kTCCServiceSensorKitMotionHeartRate</string>
		<string>kTCCServiceSensorKitWatchOnWristState</string>
		<string>kTCCServiceSensorKitWatchHeartRate</string>
	</array>
	<key>com.apple.private.ubiquity-kvstore-access</key>
	<array>
		<string>com.apple.springboard</string>
		<string>com.apple.Accessibility</string>
		<string>com.apple.Accessibility.SwitchControl</string>
		<string>com.apple.Accessibility.TouchAccommodations</string>
		<string>com.apple.AssistiveTouch</string>
		<string>com.apple.HearingAids</string>
		<string>com.apple.SpeakSelection</string>
		<string>com.apple.VoiceOverTouch</string>
		<string>com.apple.ZoomTouch</string>
	</array>
	<key>com.apple.private.vfs.allow-low-space-writes</key>
	<true/>
	<key>com.apple.private.xpc.launchd.app-server</key>
	<true/>
	<key>com.apple.runningboard.primitiveattribute</key>
	<true/>
	<key>com.apple.runningboard.terminatemanagedprocesses</key>
	<true/>
	<key>com.apple.runningboard.terminateprocess</key>
	<true/>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.frontboard.systemappservices</string>
		<string>com.apple.backlightd</string>
		<string>com.apple.accessories.transport-server</string>
		<string>com.apple.accessories.connection-info-server</string>
		<string>com.apple.carkit.layer-metadata</string>
	</array>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>AppleSMCClient</string>
	</array>
	<key>com.apple.security.system-container</key>
	<true/>
	<key>com.apple.sensorkit.writer.allow</key>
	<array>
		<string>com.apple.private.SensorKit.PPG</string>
		<string>com.apple.private.SensorKit.ECG</string>
		<string>com.apple.SensorKit.onWristState</string>
	</array>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.symptom_diagnostics.report</key>
	<true/>
	<key>com.apple.tailspin.dump-output</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>com.apple.springboard</string>
		<string>com.apple.Accessibility</string>
	</array>
	<key>seatbelt-profiles</key>
	<array>
		<string>backboardd</string>
	</array>
</dict>
</plist>