<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adi-client</key>
	<string>612006184</string>
	<key>application-identifier</key>
	<string>com.apple.iBooks.BookDataStoreService</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>aps-environment</key>
	<string>serverPreferred</string>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
	</array>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.application-identifier</key>
	<string>com.apple.iBooks.BookDataStoreService</string>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.chronoservices</key>
	<true/>
	<key>com.apple.developer.icloud-container-environment</key>
	<string>Production</string>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>iCloud.com.apple.iBooks</string>
		<string>com.apple.iBooks.cloudData</string>
		<string>com.apple.iBooks.secureData</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudDocuments</string>
		<string>CloudKit</string>
	</array>
	<key>com.apple.developer.ubiquity-container-identifiers</key>
	<array>
		<string>iCloud.com.apple.iBooks</string>
	</array>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>com.apple.iBooks</string>
	<key>com.apple.nano.nanoregistry.generalaccess</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>UniqueDeviceID</string>
	</array>
	<key>com.apple.private.applemediaservices</key>
	<true/>
	<key>com.apple.private.attribution.implicitly-assumed-identity</key>
	<dict>
		<key>type</key>
		<string>bundleID</string>
		<key>value</key>
		<string>com.apple.iBooks</string>
	</dict>
	<key>com.apple.private.cfnetwork.har-capture-amp</key>
	<true/>
	<key>com.apple.private.cloudkit.masquerade</key>
	<true/>
	<key>com.apple.private.cloudkit.serviceNameForContainerMap</key>
	<dict>
		<key>com.apple.iBooks.secureData</key>
		<string>iBooksSecureData</string>
	</dict>
	<key>com.apple.private.cloudkit.spi</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.nsurlsession.impersonate</key>
	<true/>
	<key>com.apple.private.nsurlsession.media-asset-download.can-specify-destination-url</key>
	<true/>
	<key>com.apple.private.nsurlsession.perform-media-downloads</key>
	<true/>
	<key>com.apple.private.nsurlsession.set-task-priority</key>
	<true/>
	<key>com.apple.private.sandbox.profile:embedded</key>
	<string>temporary-sandbox</string>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceUbiquity</string>
		<string>kTCCServiceLiverpool</string>
		<string>kTCCServiceMediaLibrary</string>
	</array>
	<key>com.apple.private.tcc.manager.access.modify</key>
	<array>
		<string>kTCCServiceUbiquity</string>
		<string>kTCCServiceMediaLibrary</string>
		<string>kTCCServiceLiverpool</string>
	</array>
	<key>com.apple.private.tcc.manager.access.read</key>
	<array>
		<string>kTCCServiceUbiquity</string>
		<string>kTCCServiceMediaLibrary</string>
		<string>kTCCServiceLiverpool</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.apple.iBooks</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/HTTPStorages/com.apple.bookdatastored/</string>
		<string>/Media/iTunes_Control/iTunes/</string>
		<string>/Library/Caches/com.apple.bookdatastored/</string>
		<string>/Library/Caches/com.apple.AppleMediaServices/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.adid</string>
		<string>com.apple.fairplayd.versioned</string>
		<string>com.apple.apsd</string>
		<string>com.apple.medialibraryd.xpc</string>
		<string>com.apple.cloudd</string>
		<string>com.apple.ak.anisette.xpc</string>
		<string>com.apple.xpc.amsaccountsd</string>
		<string>com.apple.chronoservices</string>
		<string>com.apple.kvsd</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.medialibrary</string>
		<string>com.apple.itunescloud</string>
		<string>com.apple.AppleMediaServices</string>
		<string>com.apple.bookdatastored</string>
		<string>group.com.apple.iBooks</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.ts.cloudkit-client</key>
	<true/>
	<key>com.apple.security.ts.nano-preference.read-write</key>
	<array>
		<string>com.apple.NanoMusicSync</string>
	</array>
	<key>com.apple.security.ts.tmpdir</key>
	<string>com.apple.bookdatastored</string>
	<key>com.apple.security.ts.ubiquity</key>
	<true/>
	<key>com.apple.symptom_analytics.query</key>
	<true/>
	<key>com.apple.symptoms.NetworkOfInterest</key>
	<true/>
	<key>fairplay-client</key>
	<string>1328318286</string>
</dict>
</plist>