<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.internal.carkitd</string>
	<key>com.apple.CoreRoutine.LocationOfInterest</key>
	<true/>
	<key>com.apple.CoreRoutine.ScenarioTrigger</key>
	<true/>
	<key>com.apple.TapToRadarKit.service-access</key>
	<true/>
	<key>com.apple.UIKit.status-bar-override-allow</key>
	<true/>
	<key>com.apple.assistant.dictation.prerecorded</key>
	<true/>
	<key>com.apple.assistant.settings</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.locationd.activity</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.CarExperienceAssets</string>
	</array>
	<key>com.apple.private.biome.read-write</key>
	<array>
		<string>DoNotDisturbWhileDriving</string>
		<string>UserFocusComputedMode</string>
	</array>
	<key>com.apple.private.carkit</key>
	<true/>
	<key>com.apple.private.carkit.app</key>
	<true/>
	<key>com.apple.private.carkit.dnd</key>
	<true/>
	<key>com.apple.private.carkit.sessionRequest</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.donotdisturb.mode.assertion.client-identifiers</key>
	<array>
		<string>com.apple.carkitd.assertion-service</string>
	</array>
	<key>com.apple.private.donotdisturb.modeconfiguration.modify.client-identifiers</key>
	<array>
		<string>com.apple.carkitd.assertion-service</string>
	</array>
	<key>com.apple.private.donotdisturb.modeconfiguration.request.client-identifiers</key>
	<array>
		<string>com.apple.carkitd.assertion-service</string>
	</array>
	<key>com.apple.private.donotdisturb.modeconfiguration.updates.client-identifiers</key>
	<array>
		<string>com.apple.carkitd.assertion-service</string>
	</array>
	<key>com.apple.private.donotdisturb.settings.request.client-identifiers</key>
	<array>
		<string>com.apple.carkitd.assertion-service</string>
	</array>
	<key>com.apple.private.donotdisturb.state.request.client-identifiers</key>
	<array>
		<string>com.apple.carkitd.assertion-service</string>
	</array>
	<key>com.apple.private.donotdisturb.state.updates.client-identifiers</key>
	<array>
		<string>com.apple.carkitd.assertion-service</string>
	</array>
	<key>com.apple.private.externalaccessory.showallaccessories</key>
	<true/>
	<key>com.apple.private.sysdiagnose</key>
	<true/>
	<key>com.apple.private.system-keychain</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceMicrophone</string>
	</array>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.CarKit.notifications</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.routined.registration</string>
		<string>com.apple.usernotifications.usernotificationservice</string>
		<string>com.apple.CarPlayApp.service</string>
		<string>com.apple.SharingServices</string>
		<string>com.apple.biome.PublicStreamAccessService</string>
		<string>com.apple.TapToRadarKit.service</string>
	</array>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.icloud.findmydevice.managed</string>
	</array>
	<key>com.apple.sharing.Client</key>
	<true/>
	<key>com.apple.springboard.remote-alert</key>
	<true/>
	<key>com.apple.springboard.statusbarstyleoverrides</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.carplay.pairings</string>
	</array>
</dict>
</plist>