<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.mobilesafari</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>com.apple.developer.icloud-container-environment</key>
	<string>Production</string>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>com.apple.SafariShared.WBSCloudHistoryStore</string>
		<string>com.apple.SafariShared.History</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.private.MobileContainerManager.lookup</key>
	<dict>
		<key>appData</key>
		<array>
			<string>com.apple.mobilesafari</string>
		</array>
	</dict>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.cloudkit.masquerade</key>
	<true/>
	<key>com.apple.private.cloudkit.serviceNameForContainerMap</key>
	<dict>
		<key>com.apple.SafariShared.History</key>
		<string>com.apple.SafariShared.History</string>
	</dict>
	<key>com.apple.private.cloudkit.systemService</key>
	<true/>
	<key>com.apple.private.safari.can-use-history-push-agent</key>
	<true/>
	<key>com.apple.private.security.container-required</key>
	<string>com.apple.mobilesafari</string>
	<key>com.apple.private.security.storage.Safari</key>
	<true/>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/Safari</string>
		<string>/Library/Safari/History.db</string>
		<string>/Library/Safari/History.db-journal</string>
		<string>/Library/Safari/History.db-shm</string>
		<string>/Library/Safari/History.db-wal</string>
		<string>/Library/Safari/History.db-lock</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.SafariCloudHistoryPushAgent</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.SafariCloudHistoryPushAgent</string>
	</array>
	<key>com.apple.symptom_diagnostics.report</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>com.apple.safari.history</string>
	</array>
	<key>platform-application</key>
	<true/>
</dict>
</plist>