<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.coreidv.coreidvd</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>aps-environment</key>
	<string>serverPreferred</string>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
	</array>
	<key>com.apple.NanoPassbook.IDVRemoteDeviceService.extendedReviewNotification</key>
	<true/>
	<key>com.apple.NanoPassbook.IDVRemoteDeviceService.session.client</key>
	<true/>
	<key>com.apple.TapToRadarKit.service-access</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.accounts.appleidauthentication.defaultaccess</key>
	<true/>
	<key>com.apple.accounts.idms.fullaccess</key>
	<true/>
	<key>com.apple.asd.client</key>
	<string>2665061694</string>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.coretelephony.Identity.get</key>
	<true/>
	<key>com.apple.developer.device-information.user-assigned-device-name</key>
	<true/>
	<key>com.apple.developer.icloud-container-environment</key>
	<string>Production</string>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>com.apple.coreidv.service-messages</string>
		<string>com.apple.coreidv.idv-data</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.idcredentials.biometrics</key>
	<true/>
	<key>com.apple.idcredentials.presentment</key>
	<array>
		<string>identity</string>
		<string>identity-test</string>
	</array>
	<key>com.apple.idcredentials.storage</key>
	<array>
		<string>identity</string>
		<string>identity-test</string>
	</array>
	<key>com.apple.keystore.sik.access</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.usage_oracle</key>
	<true/>
	<key>com.apple.mobileactivationd.device-identifiers</key>
	<true/>
	<key>com.apple.mobileactivationd.spi</key>
	<true/>
	<key>com.apple.nanopassd.connect</key>
	<true/>
	<key>com.apple.nfcd.hwmanager</key>
	<true/>
	<key>com.apple.nfcd.session.se</key>
	<true/>
	<key>com.apple.payment.all-access</key>
	<true/>
	<key>com.apple.payment.externalized-context</key>
	<true/>
	<key>com.apple.pds.clientid</key>
	<array>
		<string>com.apple.coreidvd</string>
	</array>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>UniqueChipID</string>
		<string>UniqueDeviceID</string>
		<string>SerialNumber</string>
	</array>
	<key>com.apple.private.aps-connection-initiate</key>
	<true/>
	<key>com.apple.private.biome.read-write</key>
	<array>
		<string>UserProofingMetadata</string>
	</array>
	<key>com.apple.private.cloudkit.masquerade</key>
	<true/>
	<key>com.apple.private.cloudkit.serviceNameForContainerMap</key>
	<dict>
		<key>com.apple.coreidv.idv-data</key>
		<string>com.apple.coreidv.idv-data</string>
		<key>com.apple.coreidv.server-messages</key>
		<string>com.apple.coreidv.service-messages</string>
	</dict>
	<key>com.apple.private.cloudkit.setEnvironment</key>
	<true/>
	<key>com.apple.private.cloudkit.spi</key>
	<true/>
	<key>com.apple.private.cloudkit.systemService</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.ids.phone-number-authentication</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.nsurlsession.impersonate</key>
	<true/>
	<key>com.apple.private.rtcreportingd</key>
	<string>YES</string>
	<key>com.apple.private.sharing.unlock-manager</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAddressBook</string>
		<string>kTCCServiceFaceID</string>
		<string>kTCCServiceLiverpool</string>
	</array>
	<key>com.apple.rootless.storage.coreidvd</key>
	<true/>
	<key>com.apple.security.attestation.access</key>
	<true/>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.lsd.xpc</string>
		<string>com.apple.SBUserNotification</string>
		<string>com.apple.frontboard.systemappservices</string>
		<string>com.apple.idcredd.presentment.xpc</string>
		<string>com.apple.biome.PublicStreamAccessService</string>
		<string>com.apple.passd.library</string>
		<string>com.apple.passd.payment</string>
		<string>com.apple.idcredd.storage.xpc</string>
		<string>com.apple.iconservices</string>
		<string>com.apple.passd.in-app-payment</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.system-group-containers</key>
	<array>
		<string>systemgroup.com.apple.mobileactivationd</string>
	</array>
	<key>com.apple.seserviced.key</key>
	<true/>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.activateRemoteAlert</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.remote-alert</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>CoreIDV-Keychain-Group</string>
	</array>
	<key>platform-application</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>coreidvd</string>
	</array>
</dict>
</plist>