<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.CoreRoutine.LocationOfInterest</key>
	<true/>
	<key>com.apple.CoreRoutine.LocationOfInterest.Delete</key>
	<true/>
	<key>com.apple.CoreRoutine.Prediction</key>
	<true/>
	<key>com.apple.CoreRoutine.VehicleLocation</key>
	<true/>
	<key>com.apple.DiagnosticExtensions.extension</key>
	<true/>
	<key>com.apple.accounts.idms.fullaccess</key>
	<true/>
	<key>com.apple.cards.all-access</key>
	<true/>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>com.apple.weather</string>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.geoservices.navigation_info</key>
	<true/>
	<key>com.apple.geoservices.setanydefault</key>
	<true/>
	<key>com.apple.intents.extension.discovery</key>
	<true/>
	<key>com.apple.intents.uiextension.discovery</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.private_info</key>
	<true/>
	<key>com.apple.locationd.prompt_behavior</key>
	<true/>
	<key>com.apple.locationd.route_hint</key>
	<true/>
	<key>com.apple.locationd.slv_configurer</key>
	<true/>
	<key>com.apple.locationd.spectator</key>
	<true/>
	<key>com.apple.locationd.usage_oracle</key>
	<true/>
	<key>com.apple.maps.model-access</key>
	<true/>
	<key>com.apple.maps.virtualgarage.vehicles</key>
	<true/>
	<key>com.apple.mobile.deleted.AllowFreeSpace</key>
	<true/>
	<key>com.apple.payment.all-access</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.otherIdLookup</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.attribution.implicitly-assumed-identity</key>
	<dict>
		<key>type</key>
		<string>path</string>
		<key>value</key>
		<string>/System/Library/PrivateFrameworks/MapsSuggestions.framework/destinationd</string>
	</dict>
	<key>com.apple.private.calendar.allow-suggestions</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.coreservices.canopenactivity</key>
	<true/>
	<key>com.apple.private.externalaccessory.showallaccessories</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.sandbox.profile:embedded</key>
	<string>temporary-sandbox</string>
	<key>com.apple.private.suggestions.events</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceCalendar</string>
		<string>kTCCServiceAddressBook</string>
	</array>
	<key>com.apple.proactive.PersonalizationPortrait.Connections</key>
	<true/>
	<key>com.apple.proactive.PersonalizationPortrait.Location.readOnly</key>
	<true/>
	<key>com.apple.proactive.PersonalizationPortrait.NamedEntity.readOnly</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.apple.Maps</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/containers/Bundle/Application/</string>
		<string>/System/Library/Preferences/Logging/</string>
		<string>/AppleInternal/Library/Preferences/Logging/</string>
		<string>/Library/Preferences/Logging/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/Caches/com.apple.Maps.Suggestions/</string>
		<string>/Library/HTTPStorages/com.apple.MapsSuggestions/</string>
		<string>/Library/Caches/com.apple.MapsSuggestions/</string>
		<string>/Library/Caches/Configuration/remote-configuration</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.coremedia.endpointremotecontrolsession.xpc</string>
		<string>com.apple.iapd.xpc</string>
		<string>com.apple.contactsd</string>
		<string>com.apple.iap2d.xpc</string>
		<string>com.apple.kvsd</string>
		<string>com.apple.iap2d.ExternalAccessory.distributednotification.server</string>
		<string>com.apple.ExternalAccessory.distributednotification.server</string>
		<string>com.apple.iaptransportd.ExternalAccessory.distributednotification.server</string>
		<string>com.apple.accessories.externalaccessory-server</string>
		<string>com.apple.calaccessd</string>
		<string>com.apple.proactive.PersonalizationPortrait.Connections</string>
		<string>com.apple.remindd</string>
		<string>com.apple.FileCoordination</string>
		<string>com.apple.NPKCompanionAgent.library</string>
		<string>com.apple.passd.library</string>
		<string>com.apple.passd.payment</string>
		<string>com.apple.coremedia.endpoint.xpc</string>
		<string>com.apple.Maps.mapspushd</string>
		<string>com.apple.routined.registration</string>
		<string>com.apple.duet.expertcenter</string>
		<string>com.apple.Maps.IPC</string>
		<string>com.apple.navigationListener</string>
		<string>com.apple.proactive.PersonalizationPortrait.NamedEntity.readOnly</string>
		<string>com.apple.proactive.PersonalizationPortrait.NamedEntity.readWrite</string>
		<string>com.apple.proactive.PersonalizationPortrait.Location.readOnly</string>
		<string>com.apple.Maps.MapsSync.store</string>
		<string>com.apple.maps.virtualgarage.server</string>
	</array>
	<key>com.apple.security.exception.process-info</key>
	<true/>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.coremedia</string>
		<string>com.apple.MapsSuggestions</string>
		<string>com.apple.mobilecal</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.weather.internal</string>
		<string>com.apple.suggestions</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.configurationprofiles</string>
	</array>
	<key>com.apple.security.temporary-exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.Maps.mapspushd</string>
		<string>com.apple.routined.registration</string>
		<string>com.apple.Maps.IPC</string>
		<string>com.apple.CalendarAgent.proxy</string>
		<string>com.apple.Maps.MapsSync.store</string>
	</array>
	<key>com.apple.security.ts.geoservices</key>
	<true/>
	<key>com.apple.security.ts.location-services</key>
	<true/>
	<key>com.apple.security.ts.tmpdir</key>
	<string>com.apple.maps.destinationd</string>
	<key>platform-application</key>
	<true/>
</dict>
</plist>