<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.deviceaccessd</string>
	<key>com.apple.private.nehelper.privileged</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.sandbox.profile</key>
	<string>temporary-sandbox</string>
	<key>com.apple.private.validated-resolver</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/preferences/com.apple.networkd.plist</string>
		<string>/private/var/tmp/com.apple.deviceaccessd/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/com.apple.DeviceAccess/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.nehelper</string>
	</array>
	<key>com.apple.security.exception.process-info</key>
	<true/>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.DeviceAccess</string>
		<string>com.apple.networkd</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>platform-application</key>
	<true/>
</dict>
</plist>