<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-connection-initiate</key>
	<true/>
	<key>com.apple.Contacts.database-allow</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreduetd.people</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.attribution.implicitly-assumed-identity</key>
	<dict>
		<key>type</key>
		<string>path</string>
		<key>value</key>
		<string>/System/Library/PrivateFrameworks/FamilyCircle.framework/familycircled</string>
	</dict>
	<key>com.apple.private.followup</key>
	<true/>
	<key>com.apple.private.screen-time</key>
	<true/>
	<key>com.apple.private.screentime-setup</key>
	<true/>
	<key>com.apple.private.security.storage.familycircled</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAddressBook</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.ScreenTimeAgent.setup</string>
		<string>com.apple.ScreenTimeAgent.private</string>
	</array>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>AppleJPEGDriverUserClient</string>
		<string>IOSurfaceRootUserClient</string>
		<string>IOSurfaceAcceleratorClient</string>
		<string>AGXDeviceUserClient</string>
		<string>AGXCommandQueue</string>
		<string>AGXDevice</string>
		<string>AGXSharedUserClient</string>
		<string>IOAccelContext</string>
		<string>IOAccelDevice</string>
		<string>IOAccelSharedUserClient</string>
		<string>IOAccelSubmitter2</string>
		<string>IOAccelContext2</string>
		<string>IOAccelDevice2</string>
		<string>IOAccelSharedUserClient2</string>
	</array>
	<key>com.apple.springboard.activateRemoteAlert</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
</dict>
</plist>