<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.private.alloy.idscredentials</string>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
	</array>
	<key>com.apple.CommCenter.fine-grained - 2</key>
	<array>
		<string>spi</string>
	</array>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<string>YES</string>
	<key>com.apple.mobile.deleted.AllowFreeSpace</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.ids.account-sync</key>
	<true/>
	<key>com.apple.private.ids.encryption-keys</key>
	<true/>
	<key>com.apple.private.ids.icloud-signin-hack</key>
	<true/>
	<key>com.apple.private.ids.localpairing-api</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.idscredentials</string>
	</array>
	<key>com.apple.private.ids.messaging.high-priority</key>
	<array>
		<string>com.apple.private.alloy.idscredentials</string>
	</array>
	<key>com.apple.private.ids.phone-number-authentication</key>
	<true/>
	<key>com.apple.private.ids.registration</key>
	<array>
		<string>com.apple.ess</string>
		<string>com.apple.private.ac</string>
		<string>com.apple.private.alloy.facetime.multi</string>
		<string>com.apple.madrid</string>
		<string>com.apple.private.alloy.electrictouch</string>
	</array>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>ichat</string>
		<string>apple</string>
		<string>com.apple.apsd</string>
	</array>
	<key>seatbelt-profiles</key>
	<array>
		<string>IDSCredentialsAgent</string>
	</array>
</dict>
</plist>