<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.installcoordinationd</string>
	<key>com.apple.appconduitd.device-connection.connect.allow</key>
	<true/>
	<key>com.apple.companionappd.connect.allow</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled.get</key>
	<array>
		<string>MDMInfo</string>
	</array>
	<key>com.apple.nano.nanoregistry.generalaccess</key>
	<true/>
	<key>com.apple.private.CacheDelete</key>
	<array>
		<string>CLIENT_ENTITLEMENT</string>
		<string>PURGEABLE_ENTITLEMENT</string>
		<string>PURGE_ENTITLEMENT</string>
	</array>
	<key>com.apple.private.MobileContainerManager.allowed</key>
	<true/>
	<key>com.apple.private.MobileInstallationHelperService.InstallCoordinationDaemonOpsEnabled</key>
	<true/>
	<key>com.apple.private.MobileInstallationHelperService.allowed</key>
	<true/>
	<key>com.apple.private.coreservices.can-send-install-notifications</key>
	<true/>
	<key>com.apple.private.domain-extension</key>
	<true/>
	<key>com.apple.private.healthkit</key>
	<true/>
	<key>com.apple.private.installcoordinationd.daemon</key>
	<true/>
	<key>com.apple.private.managed-settings.override</key>
	<true/>
	<key>com.apple.private.mobileinstall.allowedSPI</key>
	<array>
		<string>GetAppMetadata</string>
		<string>UpdatePlaceholderMetadata</string>
		<string>InstallLocalProvisioned</string>
		<string>UninstallForInstallCoordination</string>
		<string>RevertForInstallCoordination</string>
		<string>InstallForInstallCoordination</string>
		<string>UpdateSinfForInstallCoordination</string>
		<string>UpdateiTunesMetadataForInstallCoordination</string>
	</array>
	<key>com.apple.runningboard.terminateprocess</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/containers/Bundle/Application/</string>
		<string>/private/var/containers/Shared/SystemGroup/systemgroup.com.apple.configurationprofiles/Library/ConfigurationProfiles/MDMAppManagement.plist</string>
		<string>/private/var/mobile/Library/UserConfigurationProfiles/EffectiveUserSettings.plist</string>
	</array>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<string>AppleKeyStoreUserClient</string>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.frontboard.systemappservices</string>
		<string>com.apple.mobile.installd</string>
		<string>com.apple.lsd.installation</string>
		<string>com.apple.installcoordinationd_test_daemon</string>
		<string>com.apple.adid</string>
		<string>com.apple.lsd.modifydb</string>
		<string>com.apple.ProgressReporting</string>
		<string>com.apple.backupd.installcoordination</string>
		<string>com.apple.PowerManagement.control</string>
		<string>com.apple.SBUserNotification</string>
		<string>com.apple.healthd.server</string>
		<string>com.apple.appstored.installcoordination</string>
		<string>com.apple.containermanagerd</string>
		<string>com.apple.lsd.xpc</string>
		<string>com.apple.appconduitd.device-connection</string>
		<string>com.apple.atc.xpc.icappobserverdelegate</string>
		<string>com.apple.cache_delete</string>
		<string>com.apple.iokit.powerdxpc</string>
		<string>com.apple.ManagedSettingsAgent</string>
		<string>com.apple.mobile.keybagd.UserManager.xpc</string>
		<string>com.apple.mobile.keybagd.xpc</string>
		<string>com.apple.mobile.usermanagerd.xpc</string>
		<string>com.apple.symptom_diagnostics</string>
		<string>com.apple.lsd.system.mapdb</string>
	</array>
	<key>com.apple.security.exception.process-info</key>
	<true/>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<string>kCFPreferencesAnyApplication</string>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.installcoordinationd</string>
	</array>
	<key>com.apple.security.ts.ipc-posix-sem</key>
	<string>installcoordinationd.run</string>
	<key>com.apple.security.ts.power-assertions</key>
	<true/>
	<key>com.apple.security.ts.tmpdir</key>
	<string>com.apple.installcoordinationd</string>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<array>
		<string>prefs:</string>
		<string>x-apple-health:</string>
	</array>
	<key>com.apple.springboard.remote-alert</key>
	<true/>
	<key>com.apple.usermanagerd.persona.fetch</key>
	<true/>
	<key>platform-application</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>temporary-sandbox</string>
	</array>
</dict>
</plist>