<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adi-client</key>
	<string>409835401</string>
	<key>application-identifier</key>
	<string>com.apple.itunesstored</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>backupd-connection-initiate</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>data-allowed-write</string>
		<string>spi</string>
	</array>
	<key>com.apple.Contacts.database-allow</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<array>
		<string>com.apple.AutoWake.xml</string>
	</array>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.appstored.iap-info</key>
	<true/>
	<key>com.apple.appstored.private</key>
	<true/>
	<key>com.apple.appstored.xpc.updates</key>
	<true/>
	<key>com.apple.asd.client</key>
	<string>9824938448</string>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.cards.all-access</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreidvd.spi</key>
	<true/>
	<key>com.apple.coremedia.allow-protected-content-playback</key>
	<true/>
	<key>com.apple.coretelephony.Identity.get</key>
	<true/>
	<key>com.apple.developer.pass-type-identifiers</key>
	<array>
		<string>*.pass.com.apple.itunes.storecredit</string>
	</array>
	<key>com.apple.frontboard.app-badge-value-access</key>
	<true/>
	<key>com.apple.ibooks.BLService.private</key>
	<true/>
	<key>com.apple.itunesstored.metrics</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.keybagd.UserManager.suspendquota</key>
	<true/>
	<key>com.apple.keystore.absinthe</key>
	<true/>
	<key>com.apple.keystore.auth-token</key>
	<true/>
	<key>com.apple.keystore.device</key>
	<true/>
	<key>com.apple.keystore.sik.access</key>
	<true/>
	<key>com.apple.lsapplicationproxy.deviceidentifierforvendor</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.mobile.deleted.AllowFreeSpace</key>
	<true/>
	<key>com.apple.mobile.keybagd.UserManager.bubblepop</key>
	<true/>
	<key>com.apple.mobile.keybagd.UserManager.xpc</key>
	<true/>
	<key>com.apple.mobileactivationd.device-identifiers</key>
	<true/>
	<key>com.apple.mobileactivationd.spi</key>
	<true/>
	<key>com.apple.multitasking.newsstandassertions</key>
	<true/>
	<key>com.apple.multitasking.termination</key>
	<true/>
	<key>com.apple.networkd.set_source_application</key>
	<true/>
	<key>com.apple.odr.itunesstored</key>
	<true/>
	<key>com.apple.passes.add-silently</key>
	<true/>
	<key>com.apple.payment.all-access</key>
	<true/>
	<key>com.apple.payment.amp-card-enrollment</key>
	<true/>
	<key>com.apple.payment.card-on-file</key>
	<true/>
	<key>com.apple.private.CacheDelete</key>
	<array>
		<string>PURGE_ENTITLEMENT</string>
		<string>CLIENT_ENTITLEMENT</string>
		<string>ITEMIZED_PURGEABLE_ENTITLEMENT</string>
	</array>
	<key>com.apple.private.FairPlayIOKitUserClient.access</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.stageSharedContent</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>UniqueDeviceIDData</string>
		<string>UniqueDeviceID</string>
		<string>SerialNumber</string>
	</array>
	<key>com.apple.private.ProvInfoIOKitUserClient.access</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.applemediaservices</key>
	<true/>
	<key>com.apple.private.appstored</key>
	<array>
		<string>Personalization</string>
	</array>
	<key>com.apple.private.bmk.allow</key>
	<true/>
	<key>com.apple.private.cfnetwork.har-capture-amp</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.followup</key>
	<true/>
	<key>com.apple.private.ids.remoteurlconnection</key>
	<true/>
	<key>com.apple.private.imcore.imremoteurlconnection</key>
	<true/>
	<key>com.apple.private.in-app-payments</key>
	<true/>
	<key>com.apple.private.mobileinstall.allowedSPI</key>
	<array>
		<string>InstallForLaunchServices</string>
		<string>UninstallForLaunchServices</string>
		<string>CheckCapabilitiesMatch</string>
		<string>Install</string>
		<string>Lookup</string>
		<string>UpdateSinfForLaunchServices</string>
	</array>
	<key>com.apple.private.network.delegation-whitelist</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.nsurlsession.impersonate</key>
	<true/>
	<key>com.apple.private.nsurlsession.media-asset-download.can-specify-destination-url</key>
	<true/>
	<key>com.apple.private.nsurlsession.perform-media-downloads</key>
	<true/>
	<key>com.apple.private.nsurlsession.set-task-priority</key>
	<true/>
	<key>com.apple.private.rtcreportingd</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceFaceID</string>
		<string>kTCCServiceMediaLibrary</string>
	</array>
	<key>com.apple.private.tcc.manager.access.modify</key>
	<array>
		<string>kTCCServiceMediaLibrary</string>
	</array>
	<key>com.apple.private.tcc.manager.check-by-audit-token</key>
	<array>
		<string>kTCCServiceMediaLibrary</string>
	</array>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.MobileStore</string>
	</array>
	<key>com.apple.remotenotification.preferences</key>
	<true/>
	<key>com.apple.rootless.storage.com.apple.MobileAsset.DuetExpertCenterAsset</key>
	<true/>
	<key>com.apple.security.attestation.access</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/usr/libexec/</string>
		<string>/private/var/containers/Bundle/Application/</string>
		<string>/Applications/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-only</key>
	<array>
		<string>/Library/UserConfigurationProfiles/EffectiveUserSettings.plist</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/Logs/com.apple.StoreServices/com_apple_StoreServices/</string>
		<string>/Library/Caches/</string>
		<string>/Media/iTunes_Control/iTunes/</string>
		<string>/Media/Purchases/</string>
		<string>/Library/Cookies/</string>
		<string>/Library/Caches/com.apple.storeServices.analytics/</string>
		<string>/Library/Logs/com.apple.itunesstored/</string>
		<string>/Media/Downloads/</string>
		<string>/Library/Caches/com.apple.storeservices/</string>
		<string>/Library/com.apple.itunesstored/</string>
		<string>/Library/Caches/com.apple.iTunesStore/</string>
		<string>/Library/Caches/com.apple.itunesstored/</string>
		<string>/Library/HTTPStorages</string>
		<string>/Library/HTTPStorages/com.apple.itunesstored/</string>
	</array>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>com_apple_driver_FairPlayIOKitUserClient</string>
		<string>IOMobileFramebufferUserClient</string>
		<string>IOSurfaceRootUserClient</string>
		<string>AppleKeyStoreUserClient</string>
		<string>AppleJPEGDriverUserClient</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.mobileactivationd</string>
		<string>com.apple.corefollowup.agent</string>
		<string>com.apple.ibooks.BLService</string>
		<string>com.apple.coremedia.figcpecryptor</string>
		<string>com.apple.SBUserNotification</string>
		<string>com.apple.mediaartworkd.xpc</string>
		<string>com.apple.coremedia.customurlloader.xpc</string>
		<string>com.apple.coremedia.asset.xpc</string>
		<string>com.apple.donotdisturb.service</string>
		<string>com.apple.CARenderServer</string>
		<string>com.apple.medialibraryd.xpc</string>
		<string>com.apple.coresymbolicationd</string>
		<string>com.apple.passd.in-app-payment</string>
		<string>com.apple.passd.library</string>
		<string>com.apple.passd.payment</string>
		<string>com.apple.appstored.xpc.storequeue</string>
		<string>com.apple.appstored.xpc.request</string>
		<string>com.apple.itunesstored.xpc</string>
		<string>com.apple.SystemConfiguration.DNSConfiguration</string>
		<string>com.apple.SystemConfiguration.configd</string>
		<string>com.apple.apsd</string>
		<string>com.apple.cache_delete</string>
		<string>com.apple.dnssd.service</string>
		<string>com.apple.commcenter.xpc</string>
		<string>com.apple.usymptomsd</string>
		<string>com.apple.commcenter.coretelephony.xpc</string>
		<string>com.apple.ak.anisette.xpc</string>
		<string>com.apple.managedconfiguration.profiled</string>
		<string>com.apple.fairplayd.versioned</string>
		<string>com.apple.accountsd.accountmanager</string>
		<string>com.apple.asd.scoring</string>
		<string>com.apple.coreidvd.proofing</string>
		<string>com.apple.usernotifications.usernotificationservice</string>
		<string>com.apple.xpc.amsaccountsd</string>
		<string>com.apple.backupd</string>
		<string>com.apple.privacyaccountingd</string>
		<string>com.apple.frontboard.systemappservices</string>
		<string>com.apple.askpermissiond</string>
		<string>com.apple.springboard.services</string>
		<string>com.apple.rtcreportingd</string>
	</array>
	<key>com.apple.security.exception.process-info</key>
	<true/>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.UIKit</string>
		<string>com.apple.videos-preferences</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.AppleMediaServices.notbackedup</string>
		<string>com.apple.purplebuddy</string>
		<string>com.apple.mobileipod</string>
		<string>com.apple.itunesstored</string>
	</array>
	<key>com.apple.security.iokit-user-client-class</key>
	<string>com_apple_driver_FairPlayIOKitUserClient</string>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.system-container</key>
	<true/>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.media.books.managed</string>
		<string>systemgroup.com.apple.media.shared.books</string>
		<string>systemgroup.com.apple.ondemandresources</string>
	</array>
	<key>com.apple.security.ts.power-assertions</key>
	<true/>
	<key>com.apple.security.ts.tmpdir</key>
	<string>com.apple.itunesstored</string>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.activateRemoteAlert</key>
	<true/>
	<key>com.apple.springboard.launchapplications</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.openurlswhenlocked</key>
	<true/>
	<key>com.apple.springboard.remote-alert</key>
	<true/>
	<key>com.apple.symptom_analytics.query</key>
	<true/>
	<key>com.apple.symptoms.NetworkOfInterest</key>
	<true/>
	<key>com.apple.telephony.cupolicy-rw-access</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>fairplay-client</key>
	<string>1445028844</string>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
	</array>
	<key>platform-application</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>temporary-sandbox</string>
	</array>
</dict>
</plist>