<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.kbd</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>aps-environment</key>
	<string>serverPreferred</string>
	<key>com.apple.MobileAsset.LinguisticData</key>
	<true/>
	<key>com.apple.MobileAsset.TextInput.SpellChecker</key>
	<true/>
	<key>com.apple.assertiond.applicationstateconnection</key>
	<true/>
	<key>com.apple.assistant.settings</key>
	<true/>
	<key>com.apple.authentication-services.access-credential-identities</key>
	<true/>
	<key>com.apple.authentication-services.app-passkey-autofill</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.backboardd.eventAuthenticationKey</key>
	<true/>
	<key>com.apple.backboardd.setAuthenticatedKeyCommands</key>
	<true/>
	<key>com.apple.backboardd.setAuthenticatedTouches</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreduetd.context</key>
	<true/>
	<key>com.apple.developer.icloud-container-environment</key>
	<string>Production</string>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>com.apple.TextInput</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
		<string>CloudDocuments</string>
	</array>
	<key>com.apple.developer.ubiquity-container-identifiers</key>
	<array>
		<string>com.apple.TextInput</string>
	</array>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>com.apple.TextInput</string>
	<key>com.apple.duet.appPrediction.inspection</key>
	<true/>
	<key>com.apple.duet.expertcenter.consumer</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.handwritingd.allowBackgroundRecognition</key>
	<true/>
	<key>com.apple.handwritingd.allowRemoteRecognition</key>
	<true/>
	<key>com.apple.mobilemail.mailservices</key>
	<true/>
	<key>com.apple.pointerui.autohidePointer</key>
	<true/>
	<key>com.apple.private.CoreAuthentication.SPI</key>
	<true/>
	<key>com.apple.private.DistributedEvaluation.RecordAccess-com.apple.TextInput.TypingDESPlugin</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.otherIdLookup</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.aps-connection-initiate</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.DuetExpertCenterAsset</string>
	</array>
	<key>com.apple.private.associated-domains</key>
	<true/>
	<key>com.apple.private.biome.read-write</key>
	<array>
		<string>TextInputSession</string>
	</array>
	<key>com.apple.private.cloudkit.masquerade</key>
	<true/>
	<key>com.apple.private.cloudkit.serviceNameForContainerMap</key>
	<dict>
		<key>com.apple.textinput.KeyboardServices</key>
		<string>KeyboardServices</string>
		<key>com.apple.textinput.KeyboardServices.Secure</key>
		<string>com.apple.textinput.KeyboardServices.Secure2</string>
	</dict>
	<key>com.apple.private.cloudkit.systemService</key>
	<true/>
	<key>com.apple.private.contacts</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.dprivacyd.allow</key>
	<true/>
	<key>com.apple.private.dprivacyd.metadata.allow</key>
	<true/>
	<key>com.apple.private.getprivatesysid</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.kbd.transfer</string>
	</array>
	<key>com.apple.private.ids.messaging.urgent-priority</key>
	<array>
		<string>com.apple.private.alloy.kbd.transfer</string>
	</array>
	<key>com.apple.private.imcore.imagent</key>
	<true/>
	<key>com.apple.private.kernel.override-cpumon</key>
	<true/>
	<key>com.apple.private.security.storage.kbd</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAddressBook</string>
		<string>kTCCServiceUbiquity</string>
		<string>kTCCServiceLiverpool</string>
		<string>kTCCServiceCalendar</string>
		<string>kTCCServiceFaceID</string>
	</array>
	<key>com.apple.private.tcc.manager</key>
	<true/>
	<key>com.apple.private.xpc.domain-extension</key>
	<true/>
	<key>com.apple.proactive.PersonalizationPortrait.Connections</key>
	<true/>
	<key>com.apple.proactive.PersonalizationPortrait.Contact</key>
	<true/>
	<key>com.apple.proactive.PersonalizationPortrait.Event</key>
	<true/>
	<key>com.apple.proactive.PersonalizationPortrait.NamedEntity.readOnly</key>
	<true/>
	<key>com.apple.proactive.PersonalizationPortrait.QuickType</key>
	<true/>
	<key>com.apple.proactive.eventtracker</key>
	<true/>
	<key>com.apple.proactive.input.suggester</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/mobile/Library/Preferences/com.apple.WebUI.plist</string>
		<string>/private/var/.DocumentRevisions-V100/PerUID</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.ak.privateemail.xpc</string>
		<string>com.apple.ind.cloudfeatures</string>
		<string>com.apple.DataDeliveryServices.AssetService</string>
		<string>com.apple.sensorkitd</string>
		<string>com.apple.coreduetd.context</string>
		<string>com.apple.coreduetd</string>
		<string>com.apple.coreduetd.knowledge</string>
		<string>com.apple.powerlog.plxpclogger.xpc</string>
		<string>com.apple.PointerUI.pointeruid.service</string>
		<string>com.apple.proactive.input.suggester</string>
		<string>com.apple.backboard.hid.services</string>
		<string>com.apple.identityservicesd.embedded.auth</string>
		<string>com.apple.biome.PublicStreamAccessService</string>
		<string>com.apple.AuthenticationServices.AutoFill</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.TextInput</string>
		<string>com.apple.LanguageModeling</string>
		<string>com.apple.UIKit</string>
		<string>com.apple.preferences.sounds</string>
		<string>com.apple.migration</string>
		<string>com.apple.CloudSubscriptionFeatures.cache</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.DataDeliveryServices</string>
		<string>com.apple.keyboard.ContinuousPath</string>
	</array>
	<key>com.apple.sensorkit.writer.allow</key>
	<array>
		<string>com.apple.SensorKit.keyboardMetrics</string>
	</array>
	<key>com.apple.springboard.launchapplications</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.setTypingActive</key>
	<true/>
	<key>com.apple.springboard.statusbarstyleoverrides</key>
	<true/>
	<key>com.apple.trial.client</key>
	<array>
		<string>170</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>com.apple.TextInput</string>
		<string>com.apple.cfnetwork</string>
		<string>com.apple.password-manager</string>
	</array>
	<key>platform-application</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>kbd</string>
	</array>
	<key>vm-pressure-level</key>
	<true/>
</dict>
</plist>