<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.locationd</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>backupd-connection-initiate</key>
	<true/>
	<key>com.apple.BTServer.appleMfgDataScanner</key>
	<true/>
	<key>com.apple.Carousel.statusOverlay</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>sms</string>
		<string>spi</string>
		<string>identity</string>
		<string>bb-xpc</string>
		<string>phone</string>
	</array>
	<key>com.apple.CompanionLink</key>
	<true/>
	<key>com.apple.CoreLocation.PrivateMode</key>
	<true/>
	<key>com.apple.CoreRoutine.LocationOfInterest</key>
	<true/>
	<key>com.apple.CoreRoutine.Prediction</key>
	<true/>
	<key>com.apple.CoreRoutine.ScenarioTrigger</key>
	<true/>
	<key>com.apple.CoreRoutine.StoredLocation</key>
	<true/>
	<key>com.apple.CoreRoutine.Visit</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<array>
		<string>com.apple.AutoWake.xml</string>
	</array>
	<key>com.apple.accessoryupdater.uarp</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.backboard.client</key>
	<true/>
	<key>com.apple.backboardd.estimatedProximityDetection</key>
	<true/>
	<key>com.apple.backboardd.proximityDetection</key>
	<true/>
	<key>com.apple.basebandd.xpc.allow</key>
	<true/>
	<key>com.apple.bluetooth.internal</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.bluetoothd.can-use-adv-buffers</key>
	<true/>
	<key>com.apple.carousel.nonmatchingsessions</key>
	<true/>
	<key>com.apple.carousel.onWristMonitor.actions</key>
	<array>
		<string>monitor</string>
	</array>
	<key>com.apple.carousel.viewonwakeaccess</key>
	<true/>
	<key>com.apple.companionappd.connect.allow</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreduetd.context</key>
	<true/>
	<key>com.apple.developer.device-information.user-assigned-device-name</key>
	<true/>
	<key>com.apple.developer.extension-host.widget-extension</key>
	<true/>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.icloud-container-environment</key>
	<string>Production</string>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.distributedsensingd-motionState</key>
	<true/>
	<key>com.apple.driver.AppleBasebandPCI.user-access</key>
	<true/>
	<key>com.apple.driver.AppleBasebandPCIControl.user-access</key>
	<true/>
	<key>com.apple.frontboardservices.display-layout-monitor</key>
	<true/>
	<key>com.apple.geoservices.map-subscriptions</key>
	<array>
		<string>com.apple.corelocation.precaching.Home</string>
		<string>com.apple.corelocation.precaching.Work</string>
		<string>com.apple.corelocation.precaching.School</string>
		<string>com.apple.corelocation.precaching.NPLOI0</string>
		<string>com.apple.corelocation.precaching.NPLOI1</string>
		<string>com.apple.corelocation.precaching.NPLOI2</string>
		<string>com.apple.corelocation.precaching.NPLOI3</string>
		<string>com.apple.corelocation.precaching.NPLOI4</string>
		<string>com.apple.corelocation.precaching.NPLOI5</string>
		<string>com.apple.corelocation.precaching.NPLOI6</string>
		<string>com.apple.corelocation.precaching.NPLOI7</string>
		<string>com.apple.corelocation.precaching.NPLOI8</string>
		<string>com.apple.corelocation.precaching.NPLOI9</string>
	</array>
	<key>com.apple.geoservices.navigation_info</key>
	<true/>
	<key>com.apple.geoservices.preload</key>
	<true/>
	<key>com.apple.geoservices.restricted-tiles</key>
	<array>
		<string>coarselocation</string>
	</array>
	<key>com.apple.geoservices.traffic_probe</key>
	<true/>
	<key>com.apple.gpsd</key>
	<true/>
	<key>com.apple.healthlite.spi</key>
	<true/>
	<key>com.apple.hid.manager.user-access-protected</key>
	<true/>
	<key>com.apple.hid.system.fast-path-motion-event-privileged</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.advertisementcache.access</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.advertisementcache.write</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.beaconmanager</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.finderstatemanager.access</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.ownersession</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.pairingmanager</key>
	<true/>
	<key>com.apple.idsremoteurlconnectionagent.embedded.auth</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.keystore.sik.access</key>
	<true/>
	<key>com.apple.location.region_low_power</key>
	<true/>
	<key>com.apple.locationd.activity</key>
	<true/>
	<key>com.apple.locationd.advertise-beacon</key>
	<true/>
	<key>com.apple.locationd.authorizeapplications</key>
	<true/>
	<key>com.apple.locationd.bbtimefreqtransfer_callback</key>
	<true/>
	<key>com.apple.locationd.configure</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.emergency_enabler</key>
	<true/>
	<key>com.apple.locationd.emergencyplace_inference</key>
	<true/>
	<key>com.apple.locationd.grassland</key>
	<true/>
	<key>com.apple.locationd.integritycheck</key>
	<true/>
	<key>com.apple.locationd.mock_testing</key>
	<true/>
	<key>com.apple.locationd.motion_alarms</key>
	<true/>
	<key>com.apple.locationd.natalimetry</key>
	<true/>
	<key>com.apple.locationd.on_body_detection</key>
	<true/>
	<key>com.apple.locationd.place_inference</key>
	<true/>
	<key>com.apple.locationd.private_info</key>
	<true/>
	<key>com.apple.locationd.prompt_behavior</key>
	<true/>
	<key>com.apple.locationd.ranging</key>
	<true/>
	<key>com.apple.locationd.rebuild_gytt</key>
	<true/>
	<key>com.apple.locationd.region_fence_handoff</key>
	<true/>
	<key>com.apple.locationd.region_while_nearby</key>
	<true/>
	<key>com.apple.locationd.route_hint</key>
	<true/>
	<key>com.apple.locationd.sedentary_timer</key>
	<true/>
	<key>com.apple.locationd.simulation</key>
	<true/>
	<key>com.apple.locationd.spectator</key>
	<true/>
	<key>com.apple.locationd.status</key>
	<true/>
	<key>com.apple.locationd.time_zone</key>
	<true/>
	<key>com.apple.locationd.usage_oracle</key>
	<true/>
	<key>com.apple.locationd.vehicle_data</key>
	<true/>
	<key>com.apple.managedassets.api.inuseobserver</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.mobileactivationd.spi</key>
	<true/>
	<key>com.apple.multitasking.unlimitedassertions</key>
	<true/>
	<key>com.apple.nano.nanoregistry</key>
	<true/>
	<key>com.apple.nearbyd.diagnostics</key>
	<true/>
	<key>com.apple.nearbyd.xpc</key>
	<true/>
	<key>com.apple.nearbyinteraction.background</key>
	<true/>
	<key>com.apple.osanalytics.otatasking-service-access</key>
	<true/>
	<key>com.apple.pairedsync.progressObserver</key>
	<true/>
	<key>com.apple.pipelined</key>
	<array>
		<string>positioning</string>
	</array>
	<key>com.apple.private.CacheDelete</key>
	<array>
		<string>CLIENT_ENTITLEMENT</string>
		<string>SERVICE_ENTITLEMENT</string>
	</array>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>UniqueDeviceID</string>
		<string>ArrowChipID</string>
		<string>ArrowUniqueChipID</string>
	</array>
	<key>com.apple.private.accessories.showallconnections</key>
	<true/>
	<key>com.apple.private.aop-audio.user-access</key>
	<true/>
	<key>com.apple.private.applemediaservices</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.CoreLocationConfig</string>
	</array>
	<key>com.apple.private.biome.read-write</key>
	<array>
		<string>MicroLocationRestrictedLocalization</string>
		<string>Location.MicroLocationVisit</string>
		<string>UserFocusComputedMode</string>
	</array>
	<key>com.apple.private.carkit.dnd</key>
	<true/>
	<key>com.apple.private.cloudkit.serviceNameForContainerMap</key>
	<dict>
		<key>com.apple.vo2max</key>
		<string>com.apple.vo2max</string>
	</dict>
	<key>com.apple.private.cloudkit.spi</key>
	<true/>
	<key>com.apple.private.externalaccessory.showallaccessories</key>
	<true/>
	<key>com.apple.private.followup</key>
	<true/>
	<key>com.apple.private.healthkit</key>
	<true/>
	<key>com.apple.private.healthkit.authorization_bypass</key>
	<true/>
	<key>com.apple.private.healthkit.local-device-source</key>
	<true/>
	<key>com.apple.private.healthkit.medicaliddata</key>
	<true/>
	<key>com.apple.private.healthkit.preferred_source</key>
	<true/>
	<key>com.apple.private.healthkit.source.identities</key>
	<array>
		<string>com.apple.health.[any-device-uuid]</string>
	</array>
	<key>com.apple.private.hid.client.event-dispatch</key>
	<true/>
	<key>com.apple.private.hid.client.event-monitor</key>
	<true/>
	<key>com.apple.private.hid.client.motion-event-privileged</key>
	<true/>
	<key>com.apple.private.hid.client.service-protected</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.location.motion</string>
		<string>com.apple.private.alloy.location.auth</string>
		<string>com.apple.private.alloy.location.stream</string>
		<string>com.apple.private.alloy.location.usage</string>
		<string>com.apple.private.alloy.location.wifitilesync</string>
		<string>com.apple.private.alloy.location.motion.livabilityprogram</string>
		<string>com.apple.private.alloy.regulatorysync</string>
		<string>com.apple.private.alloy.location.fencehandoff</string>
	</array>
	<key>com.apple.private.ids.messaging.urgent-priority</key>
	<array>
		<string>com.apple.private.alloy.location.auth</string>
		<string>com.apple.private.alloy.location.stream</string>
		<string>com.apple.private.alloy.location.motion</string>
		<string>com.apple.private.alloy.location.usage</string>
		<string>com.apple.private.alloy.location.motion.livabilityprogram</string>
		<string>com.apple.private.alloy.regulatorysync</string>
		<string>com.apple.private.alloy.location.fencehandoff</string>
	</array>
	<key>com.apple.private.ids.remotecredentials</key>
	<true/>
	<key>com.apple.private.imcore.imremoteurlconnection</key>
	<true/>
	<key>com.apple.private.kernel.override-cpumon</key>
	<true/>
	<key>com.apple.private.locationpushd.pushtokenregistration</key>
	<true/>
	<key>com.apple.private.managed-settings.effective-read</key>
	<true/>
	<key>com.apple.private.nearbyd.regulatory-assistance</key>
	<true/>
	<key>com.apple.private.nearbyinteraction.privileged</key>
	<true/>
	<key>com.apple.private.privacy.accounting.write</key>
	<true/>
	<key>com.apple.private.security.storage.Location</key>
	<true/>
	<key>com.apple.private.security.storage.pipelined</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceLiverpool</string>
	</array>
	<key>com.apple.private.tcc.manager.access.read</key>
	<array>
		<string>kTCCServiceAll</string>
	</array>
	<key>com.apple.private.tcc.manager.check-by-audit-token</key>
	<array>
		<string>kTCCServiceAll</string>
	</array>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.findmy</string>
		<string>com.apple.locationd.LocationNotificationBundle</string>
		<string>com.apple.FindMySafetyAlertsNotifications</string>
	</array>
	<key>com.apple.private.vfs.allow-low-space-writes</key>
	<true/>
	<key>com.apple.proactive.hero.AppPrediction.predictions</key>
	<true/>
	<key>com.apple.rapport.StatusUpdates</key>
	<true/>
	<key>com.apple.rootless.storage.sensorkit</key>
	<true/>
	<key>com.apple.runningboard.assertions.locationd</key>
	<true/>
	<key>com.apple.runningboard.process-state</key>
	<true/>
	<key>com.apple.safetyalerts.spi</key>
	<true/>
	<key>com.apple.security.attestation.access</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/mobile/Library/com.apple.ManagedSettings/EffectiveSettings.plist</string>
		<string>/private/var/tmp/aud/</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/db/accessoryupdater/uarp/</string>
		<string>/private/var/db/accessoryupdater/DurianUpdaterService/</string>
		<string>/private/var/db/accessoryupdater/HawkeyeFirmware/</string>
	</array>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>AppleAOPAudioUserClient</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.safetyalerts</string>
		<string>com.apple.managedassetsd</string>
		<string>com.apple.rapport.StatusUpdates</string>
		<string>com.apple.nearbyd.xpc.nearbyinteraction.observer</string>
		<string>com.apple.frontboard.systemappservices</string>
		<string>com.apple.countryd.update</string>
		<string>com.apple.CarPlayApp.user-alerts-service</string>
		<string>com.apple.rapport.people</string>
		<string>com.apple.locationpushd.pushregistration</string>
		<string>com.apple.nearbyd.xpc.diagnostics</string>
		<string>com.apple.accessoryupdater.uarp</string>
		<string>com.apple.cloudd</string>
		<string>com.apple.bluetooth.xpc</string>
		<string>com.apple.nearbyd.xpc.nearbyinteraction</string>
		<string>com.apple.privacyaccountingd</string>
		<string>com.apple.accessories.blepairing</string>
		<string>com.apple.biome.PublicStreamAccessService</string>
		<string>com.apple.systemstatus.publisher</string>
		<string>com.apple.sos</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.anomalydetectiond</string>
	</array>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>AppleBasebandPCIUserClient</string>
		<string>AppleBasebandUserClient</string>
		<string>AppleBasebandPCIControlUserClient</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.osanalytics</string>
		<string>systemgroup.com.apple.sharedpclogging</string>
	</array>
	<key>com.apple.sensorkit.writer.allow</key>
	<array>
		<string>com.apple.SensorKit.pedometer.data.watch</string>
		<string>com.apple.SensorKit.pedometer.data</string>
		<string>com.apple.SensorKit.visit.metrics</string>
		<string>com.apple.SensorKit.motion.accelerometer</string>
		<string>com.apple.SensorKit.motion.accelerometer.watch</string>
		<string>com.apple.SensorKit.motion.gyroscope</string>
		<string>com.apple.SensorKit.motion.gyroscope.watch</string>
		<string>com.apple.private.SensorKit.fallstatistics</string>
		<string>com.apple.private.SensorKit.odometer</string>
		<string>com.apple.private.SensorKit.elevation</string>
		<string>com.apple.private.SensorKit.heart.rate</string>
		<string>com.apple.private.SensorKit.odometer.suitability</string>
		<string>com.apple.private.SensorKit.elevation.rawpressure</string>
		<string>com.apple.SensorKit.physicalActivityEvents</string>
	</array>
	<key>com.apple.sos.trigger</key>
	<true/>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.launchapplications</key>
	<true/>
	<key>com.apple.springboard.launchapplicationswithoptions</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.statusbarstyleoverrides</key>
	<true/>
	<key>com.apple.symptom_diagnostics.report</key>
	<true/>
	<key>com.apple.systemstatus.publisher.domains</key>
	<array>
		<string>location</string>
	</array>
	<key>com.apple.telephonyutilities.callservicesd</key>
	<array>
		<string>access-calls</string>
	</array>
	<key>com.apple.timed</key>
	<true/>
	<key>com.apple.timed.sources</key>
	<array>
		<string>GPS</string>
		<string>LocationServer</string>
		<string>HarvestServer</string>
		<string>Location</string>
		<string>TimeSourceGnssValidPos</string>
		<string>TimeSourceGnss</string>
		<string>TimeSourceBBTimeTransfer</string>
		<string>TimeSourceBBTimeTagging</string>
	</array>
	<key>com.apple.wifi.events.private</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>com.apple.wifi.scan.live</key>
	<true/>
	<key>com.apple.wirelessproxd-location</key>
	<true/>
	<key>com.apple.wirelessproxd-object-discovery</key>
	<true/>
	<key>fairplay-client</key>
	<string>465671667</string>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.distributedsensing</string>
	</array>
	<key>platform-application</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>locationd</string>
	</array>
</dict>
</plist>