<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.ManagedSettingsAgent</string>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Containers/Data/</string>
		<string>/Library/com.apple.ManagedSettings/</string>
		<string>/Library/Application Support/com.apple.ManagedSettings/</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.private.ManagedSettings.FamilyKeyStore</string>
	</array>
	<key>com.apple.security.ts.tmpdir</key>
	<string>com.apple.ManagedSettingsAgent</string>
	<key>platform-application</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>temporary-sandbox</string>
	</array>
</dict>
</plist>