<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.mlruntimed</string>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.duet.activityscheduler.allow</key>
	<true/>
	<key>com.apple.photos.bourgeoisie</key>
	<true/>
	<key>com.apple.private.des-service</key>
	<true/>
	<key>com.apple.private.dprivacyd.allow</key>
	<true/>
	<key>com.apple.private.dprivacyd.metadata.allow</key>
	<true/>
	<key>com.apple.private.photoanalysisd.access</key>
	<true/>
	<key>com.apple.private.speech-model-training</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServicePhotos</string>
	</array>
	<key>com.apple.private.xpc.domain-extension</key>
	<true/>
	<key>com.apple.proactive.PersonalizationPortrait.Contact</key>
	<true/>
	<key>com.apple.proactive.PersonalizationPortrait.NamedEntity.readOnly</key>
	<true/>
	<key>com.apple.proactive.eventtracker</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/System/</string>
		<string>/usr/libexec</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-only</key>
	<array>
		<string>Library/UserConfigurationProfiles/EffectiveUserSettings.plist</string>
		<string>emoji_evaluate_dodml.json</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>Library/DES/</string>
		<string>Library/Caches/com.apple.mlruntimed/</string>
		<string>/Library/HTTPStorages</string>
		<string>/Library/HTTPStorages/com.apple.mlruntimed/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.adprivacyd.pfl</string>
		<string>com.apple.assistant.analytics</string>
		<string>com.apple.audio.AudioComponentRegistrar</string>
		<string>com.apple.corespeech.speechmodeltraining.xpc</string>
		<string>com.apple.parsecd</string>
		<string>com.apple.photoanalysisd</string>
		<string>com.apple.photos.service</string>
		<string>com.apple.siri.analytics.assistant</string>
		<string>com.apple.siriinferenced</string>
		<string>com.apple.suggestd.fides</string>
		<string>com.apple.trial.status</string>
		<string>com.apple.triald.namespace-management</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.assistant.backedup</string>
		<string>com.apple.assistant.support</string>
		<string>com.apple.CFNetwork</string>
		<string>com.apple.coreaudio</string>
		<string>com.apple.DataDeliveryServices</string>
		<string>com.apple.homed</string>
		<string>com.apple.LanguageModeling</string>
		<string>com.apple.mobileslideshow</string>
		<string>com.apple.NLPLearner</string>
		<string>com.apple.nsurlcache</string>
		<string>com.apple.parsecd</string>
		<string>com.apple.siri.morphunassetsupdaterd</string>
		<string>com.apple.speech.speechsynthesis</string>
		<string>com.apple.SubmitDiagInfo</string>
		<string>com.apple.voiceservices</string>
		<string>kCFPreferencesAnyApplication</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.mlruntimed</string>
		<string>com.apple.PeopleSuggester.personalization</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.ts.asset-access</key>
	<true/>
	<key>com.apple.security.ts.geoservices</key>
	<true/>
	<key>com.apple.security.ts.tmpdir</key>
	<string>com.apple.siri-distributed-evaluation</string>
	<key>com.apple.siriinferenced</key>
	<true/>
	<key>com.apple.trial.client</key>
	<array>
		<string>1020</string>
	</array>
	<key>com.apple.trial.status.evaluation.mlruntime.allow</key>
	<true/>
	<key>platform-application</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>temporary-sandbox</string>
	</array>
</dict>
</plist>