<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.nanotimekitcompaniond</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>com.apple.Contacts.database-allow</key>
	<true/>
	<key>com.apple.QuartzCore.secure-capture</key>
	<true/>
	<key>com.apple.QuartzCore.secure-mode</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.backboard.client</key>
	<true/>
	<key>com.apple.bulletinboard.observer</key>
	<true/>
	<key>com.apple.companionappd.connect.allow</key>
	<true/>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.icloud-container-development-container-identifiers</key>
	<array>
		<string>com.apple.nanotimekit.facesupport</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.nano.nanoregistry</key>
	<true/>
	<key>com.apple.nano.nanoregistry.generalaccess</key>
	<true/>
	<key>com.apple.nano.nanoresourcegrabber</key>
	<true/>
	<key>com.apple.private.allow-explicit-graphics-priority</key>
	<true/>
	<key>com.apple.private.attribution.implicitly-assumed-identity</key>
	<dict>
		<key>type</key>
		<string>bundleID</string>
		<key>value</key>
		<string>com.apple.Bridge</string>
	</dict>
	<key>com.apple.private.cloudkit.setEnvironment</key>
	<true/>
	<key>com.apple.private.dmd.policy</key>
	<true/>
	<key>com.apple.private.healthkit</key>
	<true/>
	<key>com.apple.private.healthkit.authorization_bypass</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.clockface.sync</string>
	</array>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.photos.allowmemorymutation</key>
	<true/>
	<key>com.apple.private.sandbox.profile:embedded</key>
	<string>temporary-sandbox</string>
	<key>com.apple.private.security.storage.AppDataContainers</key>
	<true/>
	<key>com.apple.private.security.storage.NanoTimeKit.FaceSupport</key>
	<true/>
	<key>com.apple.private.security.storage.Photos</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServicePhotos</string>
		<string>kTCCServiceLiverpool</string>
	</array>
	<key>com.apple.private.tcc.allow.overridable</key>
	<array>
		<string>kTCCServiceAddressBook</string>
	</array>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.Bridge</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/AppleInternal/Library/NanoTimeKit/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-only</key>
	<array>
		<string>/Library/UserConfigurationProfiles/EffectiveUserSettings.plist</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/NanoTimeKit/</string>
		<string>/Library/Caches/NanoTimeKit/</string>
		<string>/Library/Caches/com.apple.nanotimekitcompaniond/</string>
		<string>/Library/Caches/com.apple.NanoTimeKit/</string>
		<string>/Library/Caches/MappedImageCache/com.apple.nanotimekit.ClockFaceSnapshots/</string>
		<string>/Library/Caches/com.apple.nanotimekitcompaniond/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.apsd</string>
		<string>com.apple.nanotimekit.collectionserver</string>
		<string>com.apple.nanotimekit.complicationstoreserver</string>
		<string>com.apple.CARenderServer</string>
		<string>com.apple.frontboard.systemappservices</string>
		<string>com.apple.backboard.hid.services</string>
		<string>com.apple.photos.service</string>
		<string>com.apple.nanoprefsync</string>
		<string>com.apple.appconduitd.device-connection</string>
		<string>com.apple.coremedia.decompressionsession</string>
		<string>com.apple.avatar.support</string>
		<string>com.apple.avatar.service</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.companionsync</string>
		<string>com.apple.locationd</string>
		<string>com.apple.UIKit</string>
		<string>com.apple.HearingAids</string>
		<string>com.apple.mobilecal</string>
		<string>com.apple.mobileslideshow</string>
		<string>com.apple.pairedsyncd</string>
		<string>com.apple.animoji</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.NanoTimeKit</string>
		<string>com.apple.NanoTimeKit.daemon</string>
		<string>com.apple.NanoTimeKit.face</string>
		<string>com.apple.nanotimekitcompaniond</string>
		<string>com.apple.AvatarUI.Staryu</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.ts.cloudkit-client</key>
	<true/>
	<key>com.apple.security.ts.identity-services-client</key>
	<true/>
	<key>com.apple.security.ts.mobile-keybag-access</key>
	<true/>
	<key>com.apple.security.ts.nano-paired-storage.subpath.read-only</key>
	<array>
		<string>NanoPhotos</string>
	</array>
	<key>com.apple.security.ts.nano-paired-storage.subpath.read-write</key>
	<array>
		<string>CompanionSync</string>
	</array>
	<key>com.apple.security.ts.nano-preference.read-only</key>
	<array>
		<string>com.apple.tincan</string>
		<string>com.apple.HearingAids</string>
	</array>
	<key>com.apple.security.ts.nano-preference.read-write</key>
	<array>
		<string>com.apple.NanoTimeKit</string>
	</array>
	<key>com.apple.security.ts.opengl-or-metal</key>
	<true/>
	<key>com.apple.security.ts.render-images</key>
	<true/>
	<key>com.apple.security.ts.tmpdir</key>
	<string>com.apple.nanotimekitcompaniond</string>
	<key>com.apple.security.ts.xpc-service-name</key>
	<array>
		<string>com.apple.NTKFaceSnapshotService</string>
	</array>
	<key>platform-application</key>
	<true/>
</dict>
</plist>