<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.nexusd</string>
	<key>com.apple.CompanionLink</key>
	<true/>
	<key>com.apple.SiriVOXService.client</key>
	<true/>
	<key>com.apple.developer.driverkit.userclient-access</key>
	<array>
		<string>com.apple.DriverKit-AppleBCMWLAN</string>
	</array>
	<key>com.apple.developer.homekit</key>
	<true/>
	<key>com.apple.developer.homekit.background-mode</key>
	<true/>
	<key>com.apple.homekit.private-spi-access</key>
	<true/>
	<key>com.apple.private.coordination.capability</key>
	<true/>
	<key>com.apple.private.homekit</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceWillow</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/Library/Ringtones/</string>
		<string>/usr/libexec</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/tmp/com.apple.nexusd/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.audio.SystemSoundServer-iOS</string>
		<string>com.apple.CARenderServer</string>
		<string>com.apple.coordination.capability</string>
		<string>com.apple.homed.xpc</string>
		<string>com.apple.locationd.registration</string>
		<string>com.apple.SiriVOXService.client</string>
		<string>com.apple.soundboardservices.server</string>
		<string>com.apple.SystemConfiguration.configd</string>
		<string>com.apple.tonelibraryd</string>
		<string>com.apple.vibrationmanagerd</string>
		<string>com.apple.voiceservices.tts</string>
	</array>
	<key>com.apple.security.exception.process-info</key>
	<true/>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.homed</string>
		<string>com.apple.nexus</string>
		<string>com.apple.ToneLibrary</string>
		<string>com.apple.voiceservices</string>
	</array>
	<key>com.apple.security.ts.mobile-keybag-access</key>
	<true/>
	<key>com.apple.security.ts.play-audio</key>
	<true/>
	<key>com.apple.security.ts.play-media</key>
	<true/>
	<key>com.apple.soundboard.system</key>
	<true/>
	<key>platform-application</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>temporary-sandbox</string>
	</array>
</dict>
</plist>