<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.NPKCompanionAgent</string>
	<key>com.apple.NPKCompanionAgent.client</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.accounts.appleidauthentication.defaultaccess</key>
	<true/>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.bulletinboard.dataprovider</key>
	<true/>
	<key>com.apple.cards.all-access</key>
	<true/>
	<key>com.apple.coreidvd.watch-notifications</key>
	<true/>
	<key>com.apple.developer.contactless-payment-pass-provisioning</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.usage_oracle</key>
	<true/>
	<key>com.apple.nano.nanoregistry</key>
	<true/>
	<key>com.apple.nanosystemsettings</key>
	<array>
		<string>accounts</string>
		<string>icloud</string>
	</array>
	<key>com.apple.nfcd.hwmanager</key>
	<true/>
	<key>com.apple.nfcd.session.se</key>
	<true/>
	<key>com.apple.passes.add-silently</key>
	<true/>
	<key>com.apple.payment.all-access</key>
	<true/>
	<key>com.apple.payment.configuration</key>
	<true/>
	<key>com.apple.payment.payment-information-event-hosting</key>
	<true/>
	<key>com.apple.peerpayment.all-access</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>SerialNumber</string>
		<string>UniqueDeviceID</string>
	</array>
	<key>com.apple.private.hsa-authentication-processing</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.passbook.general</string>
		<string>com.apple.private.alloy.passbook.relevancy</string>
		<string>com.apple.private.alloy.passbook.maintenance</string>
		<string>com.apple.private.alloy.applepay.identitycredential</string>
	</array>
	<key>com.apple.private.ids.messaging.high-priority</key>
	<array>
		<string>com.apple.private.alloy.passbook.general</string>
		<string>com.apple.private.alloy.passbook.relevancy</string>
		<string>com.apple.private.alloy.passbook.maintenance</string>
		<string>com.apple.private.alloy.applepay.identitycredential</string>
	</array>
	<key>com.apple.private.keychain.sysbound</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.nsurlsession.impersonate</key>
	<true/>
	<key>com.apple.private.rtcreportingd</key>
	<true/>
	<key>com.apple.private.sandbox.profile:embedded</key>
	<string>temporary-sandbox</string>
	<key>com.apple.private.security.storage.AppDataContainers</key>
	<true/>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.Bridge</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/preferences/com.apple.networkd.plist</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/tmp/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-only</key>
	<array>
		<string>/Library/Caches/PassKit/PassAssetCache/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/DeviceRegistry/</string>
		<string>/Library/Passes/</string>
		<string>/tmp/com.apple.Passbook/</string>
		<string>/Library/HTTPStorages/com.apple.NPKCompanionAgent/</string>
		<string>/Library/Caches/com.apple.NPKCompanionAgent/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.usernotifications.usernotificationservice</string>
		<string>com.apple.coreidvd.watch-notifications</string>
		<string>com.apple.nfcd.hwmanager</string>
		<string>com.apple.FileCoordination</string>
		<string>com.apple.identityservicesd.embedded.auth</string>
		<string>com.apple.passd.library</string>
		<string>com.apple.NPKCompanionAgent.library</string>
		<string>com.apple.nanoprefsync</string>
		<string>com.apple.usymptomsd</string>
		<string>com.apple.hsa-authentication-server</string>
		<string>com.apple.securityd</string>
		<string>com.apple.accountsd.accountmanager</string>
		<string>com.apple.AppSSO.service-xpc</string>
		<string>com.apple.ak.anisette.xpc</string>
		<string>com.apple.trustd</string>
		<string>com.apple.nsurlsessiond</string>
		<string>com.apple.CARenderServer</string>
		<string>com.apple.NPKCompanionAgent.Server</string>
		<string>com.apple.paired-unlock</string>
		<string>com.apple.nanosystemsettings</string>
		<string>com.apple.SBUserNotification</string>
		<string>com.apple.passd.peer-payment</string>
		<string>com.apple.passd.account</string>
		<string>com.apple.passd.payment</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.pairedsyncd</string>
		<string>com.apple.conference</string>
		<string>com.apple.iokit.IOMobileGraphicsFamily</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.nanopassbook</string>
		<string>com.apple.stockholm</string>
		<string>com.apple.Wallet</string>
	</array>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>IOSurfaceRootUserClient</string>
		<string>IOSurfaceAcceleratorClient</string>
		<string>AGXDeviceUserClient</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.nsurlstoragedresources/</string>
	</array>
	<key>com.apple.security.ts.mobile-keybag-access</key>
	<true/>
	<key>com.apple.seserviced.kmlXpcService</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.remote-alert</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>com.apple.PassbookUIService</string>
	</array>
	<key>platform-application</key>
	<true/>
</dict>
</plist>