<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.nsurlsessiond</string>
	<key>com.apple.carousel.defaulturlsessionpolicy</key>
	<true/>
	<key>com.apple.chronoservices</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.duet.activityscheduler.allow</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.mobile.keybagd.UserManager.sync</key>
	<true/>
	<key>com.apple.multitasking.systemappassertions</key>
	<true/>
	<key>com.apple.networkd.configure_connection_pool</key>
	<true/>
	<key>com.apple.networkd.join_connection_pool</key>
	<true/>
	<key>com.apple.networkd.set_account_identifier</key>
	<true/>
	<key>com.apple.private.CacheDelete</key>
	<array>
		<string>CLIENT_ENTITLEMENT</string>
		<string>PURGEABLE_ENTITLEMENT</string>
		<string>PURGE_ENTITLEMENT</string>
		<string>CANCEL_PURGE_ENTITLEMENT</string>
		<string>SERVICE_ENTITLEMENT</string>
	</array>
	<key>com.apple.private.InstallCoordination.allowed</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.allowed</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.userManagedAssets</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.accounts.bundleidspoofing</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.TopLevelDomainDafsa</string>
	</array>
	<key>com.apple.private.cfnetwork.har-capture-delegation</key>
	<true/>
	<key>com.apple.private.dark-wake-network-reachability</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.nsurlsessionproxy</string>
	</array>
	<key>com.apple.private.ids.messaging.high-priority</key>
	<array>
		<string>com.apple.private.alloy.nsurlsessionproxy</string>
	</array>
	<key>com.apple.private.ids.nearby</key>
	<true/>
	<key>com.apple.private.ids.prefer-infrawifi</key>
	<array>
		<string>com.apple.private.alloy.nsurlsessionproxy</string>
	</array>
	<key>com.apple.private.ids.self-session</key>
	<array>
		<string>com.apple.private.alloy.nsurlsessionproxy</string>
	</array>
	<key>com.apple.private.network.interface-control</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.nsurlsession-allow-override-connection-pool</key>
	<true/>
	<key>com.apple.private.nsurlsession.impersonate</key>
	<true/>
	<key>com.apple.private.nsurlsession.set-task-priority</key>
	<true/>
	<key>com.apple.private.sandbox.profile:embedded</key>
	<string>nsurlsessiond</string>
	<key>com.apple.rootless.storage.com.apple.MobileAsset.DuetExpertCenterAsset</key>
	<true/>
	<key>com.apple.rootless.storage.nsurlsessiond</key>
	<true/>
	<key>com.apple.runningboard.assertions.cfnetwork</key>
	<true/>
	<key>com.apple.runningboard.process-state</key>
	<true/>
	<key>com.apple.runningboard.targetidentities</key>
	<true/>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.nano.nanoregistry.paireddeviceregistry</string>
		<string>com.apple.terminusd</string>
		<string>com.apple.chronoservices</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.nsurlstoragedresources</string>
	</array>
	<key>com.apple.usermanagerd.persona.background</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
</dict>
</plist>