<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.parsecd</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>com.apple.CoreRoutine.LocationOfInterest</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.application-identifier</key>
	<string>com.apple.parsecd</string>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.datadetectors.source-write.system</key>
	<true/>
	<key>com.apple.locationd.activity</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>RegionCode</string>
	</array>
	<key>com.apple.private.dprivacyd.allow</key>
	<true/>
	<key>com.apple.private.kernel.override-cpumon</key>
	<true/>
	<key>com.apple.private.networkserviceproxy</key>
	<true/>
	<key>com.apple.private.subscriptionservice.all-sources.read-only</key>
	<true/>
	<key>com.apple.proactive.PersonalizationPortrait.NamedEntity.readWrite</key>
	<true/>
	<key>com.apple.proactive.PersonalizationPortrait.Topic.readWrite</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.apple.PegasusConfiguration</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.itunescloud.music-subscription-status-service</string>
		<string>com.apple.trial.status</string>
		<string>com.apple.networkserviceproxy</string>
		<string>com.apple.apsd</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.purplebuddy</string>
		<string>com.apple.itunescloud</string>
		<string>com.apple.itunescloud.internal</string>
		<string>com.apple.da</string>
	</array>
	<key>com.apple.security.system-group-containers</key>
	<array>
		<string>systemgroup.com.apple.osanalytics</string>
	</array>
	<key>com.apple.symptom_diagnostics.report</key>
	<true/>
	<key>com.apple.trial.status.deployment-environment.allow</key>
	<array>
		<integer>2</integer>
	</array>
	<key>seatbelt-profiles</key>
	<array>
		<string>parsecd</string>
	</array>
</dict>
</plist>