<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.passd</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>aps-environment</key>
	<string>Production</string>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
	</array>
	<key>com.apple.Contacts.database-allow</key>
	<true/>
	<key>com.apple.NPKCompanionAgent.client</key>
	<true/>
	<key>com.apple.NanoPassbook.IDVRemoteDeviceService.credentialprovisioning</key>
	<true/>
	<key>com.apple.NanoPassbook.IDVRemoteDeviceService.session.client</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<array>
		<string>com.apple.radios.plist</string>
	</array>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.accounts.appleidauthentication.defaultaccess</key>
	<true/>
	<key>com.apple.ap.adservicesd.statusconditionclient.allow_write</key>
	<true/>
	<key>com.apple.appattest.spi</key>
	<true/>
	<key>com.apple.asd.allow</key>
	<true/>
	<key>com.apple.asd.client</key>
	<string>2178910101</string>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.cards.all-access</key>
	<true/>
	<key>com.apple.chrono.invalidate-timelines</key>
	<true/>
	<key>com.apple.chronoservices</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreduetd.context</key>
	<true/>
	<key>com.apple.coreidvd.spi</key>
	<true/>
	<key>com.apple.developer.apple-cash-disbursements</key>
	<true/>
	<key>com.apple.developer.homekit</key>
	<true/>
	<key>com.apple.developer.icloud-container-development-container-identifiers</key>
	<array>
		<string>com.apple.pay</string>
		<string>com.apple.shoebox</string>
		<string>com.apple.passes</string>
		<string>com.apple.passes.sync</string>
		<string>com.apple.passes.sync.secure</string>
		<string>com.apple.prototyping.pay</string>
	</array>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>com.apple.pay</string>
		<string>com.apple.shoebox</string>
		<string>com.apple.passes</string>
		<string>com.apple.passes.sync</string>
		<string>com.apple.passes.sync.secure</string>
		<string>com.apple.prototyping.pay</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
		<string>CloudDocuments</string>
	</array>
	<key>com.apple.developer.siri</key>
	<true/>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>com.apple.passd</string>
	<key>com.apple.finance.store</key>
	<true/>
	<key>com.apple.finhealth.all-access</key>
	<true/>
	<key>com.apple.frontboard.app-badge-value-access</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.frontboardservices.display-layout-monitor</key>
	<true/>
	<key>com.apple.icloud.findmydeviced.access</key>
	<true/>
	<key>com.apple.idcredentials.storage</key>
	<array>
		<string>ua</string>
		<string>identity</string>
	</array>
	<key>com.apple.internal.seserviced.all.endpoints.and.cas</key>
	<true/>
	<key>com.apple.internal.seserviced.fido</key>
	<true/>
	<key>com.apple.internal.seserviced.ptattestation</key>
	<true/>
	<key>com.apple.keystore.sik.access</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.ranging</key>
	<true/>
	<key>com.apple.locationd.spectator</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.mobileactivationd.device-identifiers</key>
	<true/>
	<key>com.apple.mobileactivationd.spi</key>
	<true/>
	<key>com.apple.multitasking.unlimitedassertions</key>
	<true/>
	<key>com.apple.nano.nanoregistry</key>
	<true/>
	<key>com.apple.nanopassd.connect</key>
	<true/>
	<key>com.apple.nanopassrenderingservice.client</key>
	<true/>
	<key>com.apple.nanosystemsettings</key>
	<array>
		<string>accounts</string>
		<string>icloud</string>
	</array>
	<key>com.apple.nearbyd.xpc</key>
	<true/>
	<key>com.apple.nearbyinteraction.background</key>
	<true/>
	<key>com.apple.nfcd.hwmanager</key>
	<true/>
	<key>com.apple.nfcd.radio.powertoggle</key>
	<true/>
	<key>com.apple.nfcd.session.ecommerce</key>
	<true/>
	<key>com.apple.nfcd.session.fieldOperations</key>
	<true/>
	<key>com.apple.nfcd.session.peerpayment</key>
	<true/>
	<key>com.apple.nfcd.session.reader.internal</key>
	<true/>
	<key>com.apple.nfcd.session.se</key>
	<true/>
	<key>com.apple.nfcd.session.trust</key>
	<true/>
	<key>com.apple.nfcd.singleUser</key>
	<true/>
	<key>com.apple.payment.all-access</key>
	<true/>
	<key>com.apple.payment.payment-information-event-hosting</key>
	<true/>
	<key>com.apple.payment.presentation</key>
	<true/>
	<key>com.apple.private.CoreAuthentication.SPI</key>
	<true/>
	<key>com.apple.private.InstallCoordination.allowed</key>
	<true/>
	<key>com.apple.private.LocalAuthentication.Storage</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.otherIdLookup</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>SerialNumber</string>
		<string>UniqueDeviceID</string>
		<string>UniqueChipID</string>
	</array>
	<key>com.apple.private.accessories.showallconnections</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.applemediaservices</key>
	<true/>
	<key>com.apple.private.applesse.allow</key>
	<true/>
	<key>com.apple.private.aps-connection-initiate</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.WalletMobileAssets</string>
	</array>
	<key>com.apple.private.attribution.implicitly-assumed-identity</key>
	<dict>
		<key>type</key>
		<string>bundleID</string>
		<key>value</key>
		<string>com.apple.Passbook</string>
	</dict>
	<key>com.apple.private.bmk.allow</key>
	<true/>
	<key>com.apple.private.canModifyAppLinkPermissions</key>
	<true/>
	<key>com.apple.private.carkit</key>
	<true/>
	<key>com.apple.private.ckks</key>
	<true/>
	<key>com.apple.private.cloudkit.buddyAccess</key>
	<true/>
	<key>com.apple.private.cloudkit.masquerade</key>
	<true/>
	<key>com.apple.private.cloudkit.serviceNameForContainerMap</key>
	<dict>
		<key>com.apple.passes.sync.secure</key>
		<string>com.apple.passes.sync.secure</string>
		<key>com.apple.pay</key>
		<string>com.apple.wallet.paymentservices2</string>
		<key>com.apple.prototyping.pay</key>
		<string>com.apple.wallet.paymentservices2</string>
	</dict>
	<key>com.apple.private.cloudkit.setEnvironment</key>
	<true/>
	<key>com.apple.private.cloudkit.systemService</key>
	<true/>
	<key>com.apple.private.corerecents</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.coreservices.canopenactivity</key>
	<true/>
	<key>com.apple.private.corespotlight.bundleid</key>
	<string>com.apple.Passbook</string>
	<key>com.apple.private.corespotlight.internal</key>
	<true/>
	<key>com.apple.private.corespotlight.search.internal</key>
	<true/>
	<key>com.apple.private.familycircle</key>
	<true/>
	<key>com.apple.private.homekit</key>
	<true/>
	<key>com.apple.private.homekit.wallet-key</key>
	<true/>
	<key>com.apple.private.hsa-authentication-processing</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.applepay</string>
		<string>com.apple.private.alloy.applepay.sharing</string>
		<string>com.apple.private.alloy.passbook.provisioning</string>
	</array>
	<key>com.apple.private.ids.messaging.high-priority</key>
	<array>
		<string>com.apple.private.alloy.applepay</string>
		<string>com.apple.private.alloy.applepay.sharing</string>
	</array>
	<key>com.apple.private.keychain.sysbound</key>
	<true/>
	<key>com.apple.private.librarian.container-proxy</key>
	<true/>
	<key>com.apple.private.managed-settings.effective-read</key>
	<true/>
	<key>com.apple.private.nearbyinteraction.privileged</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.nsurlsession.impersonate</key>
	<true/>
	<key>com.apple.private.rtcreportingd</key>
	<true/>
	<key>com.apple.private.seserviced.sesprivacykey</key>
	<true/>
	<key>com.apple.private.swc.additional-service-details-provider</key>
	<array>
		<string>com.apple.Passbook</string>
		<string>com.apple.NanoPassbook</string>
	</array>
	<key>com.apple.private.swc.system-app</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceWillow</string>
		<string>kTCCServiceLiverpool</string>
		<string>kTCCServiceAddressBook</string>
		<string>kTCCServiceFaceID</string>
	</array>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.Passbook</string>
		<string>com.apple.NanoPassbook</string>
	</array>
	<key>com.apple.runningboard.assertions.PassbookUIService</key>
	<true/>
	<key>com.apple.runningboard.attributes.bannerrequest</key>
	<true/>
	<key>com.apple.runningboard.launchprocess</key>
	<true/>
	<key>com.apple.security.attestation.access</key>
	<true/>
	<key>com.apple.security.exception.files.home-relative-path.read-only</key>
	<array>
		<string>/Library/com.apple.ManagedSettings/EffectiveSettings.plist</string>
	</array>
	<key>com.apple.security.system-group-containers</key>
	<array>
		<string>systemgroup.com.apple.mobileactivationd</string>
	</array>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.configurationprofiles</string>
	</array>
	<key>com.apple.seld.tsmmanager</key>
	<true/>
	<key>com.apple.seserviced.key</key>
	<true/>
	<key>com.apple.seserviced.kmlXpcService</key>
	<true/>
	<key>com.apple.seserviced.session.dck</key>
	<true/>
	<key>com.apple.sharing.Client</key>
	<true/>
	<key>com.apple.sharing.DeviceDiscovery</key>
	<true/>
	<key>com.apple.sharing.Services</key>
	<array>
		<string>com.apple.sharing.ApplePay</string>
	</array>
	<key>com.apple.springboard.activateRemoteAlert</key>
	<true/>
	<key>com.apple.springboard.application-removability.proxy</key>
	<true/>
	<key>com.apple.springboard.biometricUnlockSuppression</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.remote-alert</key>
	<true/>
	<key>com.apple.springboard.requestDeviceUnlock</key>
	<true/>
	<key>com.apple.springboard.shortcutitems.fullaccess</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>com.apple.CredentialSharingService</string>
		<string>com.apple.SubcredentialUIService</string>
		<string>com.apple.PassbookUIService</string>
		<string>com.apple.Passbook.PeerPayment</string>
		<string>apple</string>
	</array>
	<key>seatbelt-profiles</key>
	<array>
		<string>passd</string>
	</array>
</dict>
</plist>