<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.managedconfiguration.profiled</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
		<string>dm</string>
		<string>identity</string>
	</array>
	<key>com.apple.GAX.SPI</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCDynamicStore-write-access</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<array>
		<string>preferences.plist</string>
		<string>com.apple.AutoWake.xml</string>
	</array>
	<key>com.apple.accounts.appleidauthentication.defaultaccess</key>
	<true/>
	<key>com.apple.accounts.connectbeforemigrationdidfinish</key>
	<true/>
	<key>com.apple.appattest.spi</key>
	<true/>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.icloud.findmydeviced.access</key>
	<true/>
	<key>com.apple.itunesstored.lookup</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.keystore.auth-token</key>
	<true/>
	<key>com.apple.keystore.config.set</key>
	<true/>
	<key>com.apple.keystore.device</key>
	<true/>
	<key>com.apple.keystore.device.verify</key>
	<true/>
	<key>com.apple.keystore.escrow.create</key>
	<true/>
	<key>com.apple.keystore.lockassertion</key>
	<true/>
	<key>com.apple.managedconfiguration.mdmd-access</key>
	<true/>
	<key>com.apple.managedconfiguration.mdmuserd-access</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled.configurationprofiles</key>
	<array>
		<string>CarrierInstallation</string>
		<string>CustomUIInstallation</string>
		<string>DEPInstallation</string>
		<string>Inspection</string>
		<string>PopInstallationQueue</string>
		<string>Removal</string>
		<string>SilentNonUIInstallation</string>
		<string>UIInstallation</string>
	</array>
	<key>com.apple.managedconfiguration.profiled.get</key>
	<array>
		<string>MachineInfo</string>
		<string>ManagedApplications</string>
		<string>NetworkExtension</string>
		<string>WiFiNetworks</string>
	</array>
	<key>com.apple.managedconfiguration.profiled.migration</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled.provisioningprofiles</key>
	<array>
		<string>Installation</string>
		<string>PopInstallationQueue</string>
		<string>Removal</string>
		<string>Validation</string>
	</array>
	<key>com.apple.managedconfiguration.profiled.set</key>
	<array>
		<string>ActivationLock</string>
		<string>ActivationRecord</string>
		<string>Certificates</string>
		<string>ClientRestrictions</string>
		<string>CloudConfiguration</string>
		<string>Passcode</string>
		<string>Safari</string>
		<string>UserSettings</string>
	</array>
	<key>com.apple.managedconfiguration.profiled.shutdown</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled.usercompliance</key>
	<true/>
	<key>com.apple.managedconfiguration.teslad-access</key>
	<true/>
	<key>com.apple.mkb.usersession.info</key>
	<true/>
	<key>com.apple.mobileactivationd.device-identifiers</key>
	<true/>
	<key>com.apple.mobileactivationd.eda</key>
	<true/>
	<key>com.apple.mobileactivationd.spi</key>
	<true/>
	<key>com.apple.nano.nanoregistry.generalaccess</key>
	<true/>
	<key>com.apple.networkd.set_account_identifier</key>
	<true/>
	<key>com.apple.osanalytics.otatasking-service-access</key>
	<true/>
	<key>com.apple.payment.all-access</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.otherIdLookup</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>UniqueChipID</string>
		<string>SerialNumber</string>
	</array>
	<key>com.apple.private.WebClips.read-write</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.applecredentialmanager.allow</key>
	<true/>
	<key>com.apple.private.bmk.allow</key>
	<true/>
	<key>com.apple.private.carkit</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.followup</key>
	<true/>
	<key>com.apple.private.ids.registration</key>
	<array>
		<string>com.apple.ess</string>
	</array>
	<key>com.apple.private.ids.testtool</key>
	<true/>
	<key>com.apple.private.keychain.sysbound</key>
	<true/>
	<key>com.apple.private.lockdown.finegrained-get</key>
	<array>
		<string>com.apple.mobile.chaperone/DeviceIsChaperoned</string>
		<string>com.apple.mobile.chaperone/PermissionSlip</string>
		<string>com.apple.mobile.chaperone/AllowSleepOver</string>
		<string>NULL/ActivationPrivateKey</string>
		<string>NULL/BrickState</string>
		<string>NULL/DevicePrivateKey</string>
		<string>NULL/DeviceCertificate</string>
		<string>NULL/DeviceName</string>
	</array>
	<key>com.apple.private.lockdown.finegrained-set</key>
	<array>
		<string>com.apple.mobile.backup/RequiresEncryption</string>
		<string>com.apple.mobile.restriction/ProhibitAppInstall</string>
		<string>com.apple.mobile.restriction/ProhibitAppDelete</string>
	</array>
	<key>com.apple.private.lockdown.reset-pairing</key>
	<true/>
	<key>com.apple.private.logging.admin</key>
	<true/>
	<key>com.apple.private.mis.online_auth_agent</key>
	<true/>
	<key>com.apple.private.mis.trust.set</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.networkextension.configuration</key>
	<true/>
	<key>com.apple.private.security.storage-exempt.heritable</key>
	<true/>
	<key>com.apple.private.security.storage.Calendar</key>
	<true/>
	<key>com.apple.private.security.storage.Mail</key>
	<true/>
	<key>com.apple.private.system-keychain</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServicePhotos</string>
	</array>
	<key>com.apple.private.tcc.manager.service-override.modify</key>
	<array>
		<string>kTCCServiceUserTracking</string>
	</array>
	<key>com.apple.rootless.storage.ExtensibleSSO</key>
	<true/>
	<key>com.apple.rootless.storage.dmd</key>
	<true/>
	<key>com.apple.runningboard.process-state</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>com.apple.MailPersonaStorage</string>
	</array>
	<key>com.apple.security.attestation.access</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/System/Library/ManagedConfiguration/TrustEvaluators/MCProfileTrustA.bundle</string>
		<string>/System/Library/ManagedConfiguration/TrustEvaluators/MCProfileTrustB.bundle</string>
	</array>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>AppleCredentialManagerUserClient</string>
		<string>IOSurfaceRootUserClient</string>
	</array>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.configurationprofiles</string>
		<string>systemgroup.com.apple.media.books.managed</string>
		<string>systemgroup.com.apple.powerlog</string>
		<string>systemgroup.com.apple.WiFiAssist</string>
	</array>
	<key>com.apple.sharing.Client</key>
	<true/>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.addWebClipToHomeScreen</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.openurlswhenlocked</key>
	<true/>
	<key>com.apple.springboard.removeWebClipFromHomeScreen</key>
	<true/>
	<key>com.apple.studentd.configuration</key>
	<true/>
	<key>com.apple.timed</key>
	<true/>
	<key>com.apple.tzlink.allow</key>
	<true/>
	<key>com.apple.usermanagerd.persona.background</key>
	<true/>
	<key>com.apple.usermanagerd.persona.create</key>
	<true/>
	<key>com.apple.usermanagerd.persona.delete</key>
	<true/>
	<key>com.apple.usermanagerd.persona.fetch</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.certificates</string>
		<string>com.apple.identities</string>
		<string>com.apple.mobilemail.smime</string>
		<string>lockdown-identities</string>
		<string>com.apple.managed.vpn.shared</string>
	</array>
	<key>keychain-cloud-circle</key>
	<true/>
	<key>modify-anchor-certificates</key>
	<true/>
</dict>
</plist>