<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.protectedcloudstorage.protectedcloudkeysyncing</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>aps-environment</key>
	<string>serverPreferred</string>
	<key>backupd-connection-initiate</key>
	<true/>
	<key>com.apple.application-identifier</key>
	<string>com.apple.protectedcloudstorage.protectedcloudkeysyncing</string>
	<key>com.apple.developer.aps-environment</key>
	<string>serverPreferred</string>
	<key>com.apple.developer.icloud-container-environment</key>
	<string>Production</string>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.keystore.access-keychain-keys</key>
	<true/>
	<key>com.apple.keystore.lockassertion</key>
	<true/>
	<key>com.apple.nano.nanoregistry</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<string>UniqueDeviceID</string>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.appleaccount.app-hidden-from-icloud-settings</key>
	<true/>
	<key>com.apple.private.aps-connection-initiate</key>
	<true/>
	<key>com.apple.private.ckks</key>
	<true/>
	<key>com.apple.private.ckks.currentitempointers_read</key>
	<true/>
	<key>com.apple.private.ckks.currentitempointers_write</key>
	<true/>
	<key>com.apple.private.ckks.plaintextfields</key>
	<true/>
	<key>com.apple.private.cloudkit.buddyAccess</key>
	<true/>
	<key>com.apple.private.cloudkit.packages</key>
	<true/>
	<key>com.apple.private.cloudkit.spi</key>
	<true/>
	<key>com.apple.private.cloudkit.supportservice</key>
	<true/>
	<key>com.apple.private.cloudkit.systemService</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.pcskey.sync</string>
	</array>
	<key>com.apple.private.octagon</key>
	<true/>
	<key>com.apple.private.octagon.walrus</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceLiverpool</string>
	</array>
	<key>com.apple.securebackupd.access</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>com.apple.ProtectedCloudStorage.KTAccountKey</string>
		<string>com.apple.ProtectedCloudStorage.backup</string>
		<string>com.apple.ProtectedCloudStorage</string>
	</array>
	<key>keychain-cloud-circle</key>
	<true/>
</dict>
</plist>