<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.rapportd</string>
	<key>com.apple.CompanionLink</key>
	<true/>
	<key>com.apple.Contacts.database-allow</key>
	<true/>
	<key>com.apple.PairingManager.HomeKit</key>
	<true/>
	<key>com.apple.PairingManager.Read</key>
	<true/>
	<key>com.apple.PairingManager.Write</key>
	<true/>
	<key>com.apple.SiriVOXService.client</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCDynamicStore-write-access</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.accounts.idms.fullaccess</key>
	<true/>
	<key>com.apple.ahp</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-screen-saver</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-sleep</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-wake</key>
	<true/>
	<key>com.apple.appletv.pbs.mediaremote</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.avfoundation.allows-access-to-device-list</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreduetd.context</key>
	<true/>
	<key>com.apple.developer.device-information.user-assigned-device-name</key>
	<true/>
	<key>com.apple.developer.homekit</key>
	<true/>
	<key>com.apple.developer.homekit.background-mode</key>
	<true/>
	<key>com.apple.hid.manager.user-access-device</key>
	<true/>
	<key>com.apple.homekit.private-spi-access</key>
	<true/>
	<key>com.apple.icloud.fmfd.access</key>
	<true/>
	<key>com.apple.nearbyd.beacon</key>
	<true/>
	<key>com.apple.nearbyd.diagnostics</key>
	<true/>
	<key>com.apple.nearbyd.xpc</key>
	<true/>
	<key>com.apple.networkd_privileged</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>EthernetMacAddress</string>
		<string>SerialNumber</string>
		<string>UniqueDeviceID</string>
		<string>WifiAddressData</string>
		<string>WifiAddress</string>
	</array>
	<key>com.apple.private.SkyLight.displaycontrol</key>
	<true/>
	<key>com.apple.private.associated-domains</key>
	<true/>
	<key>com.apple.private.ckks</key>
	<true/>
	<key>com.apple.private.familycircle</key>
	<true/>
	<key>com.apple.private.hid.client.event-dispatch</key>
	<true/>
	<key>com.apple.private.hid.client.event-monitor</key>
	<true/>
	<key>com.apple.private.homehubd</key>
	<array>
		<string>endpoint-read</string>
	</array>
	<key>com.apple.private.homekit</key>
	<true/>
	<key>com.apple.private.homekit.pairing-identity</key>
	<true/>
	<key>com.apple.private.homekit.pairing-identity.private</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.coreduet.sync</string>
		<string>com.apple.private.alloy.nearby</string>
	</array>
	<key>com.apple.private.ids.messaging.high-priority</key>
	<array>
		<string>com.apple.private.alloy.coreduet.sync</string>
		<string>com.apple.private.alloy.nearby</string>
	</array>
	<key>com.apple.private.ids.messaging.urgent-priority</key>
	<array>
		<string>com.apple.private.alloy.coreduet.sync</string>
		<string>com.apple.private.alloy.nearby</string>
	</array>
	<key>com.apple.private.ids.remoteurlconnection</key>
	<true/>
	<key>com.apple.private.ids.session</key>
	<array>
		<string>com.apple.private.alloy.coreduet.sync</string>
		<string>com.apple.private.alloy.nearby</string>
	</array>
	<key>com.apple.private.imcore.imremoteurlconnection</key>
	<true/>
	<key>com.apple.private.neagent</key>
	<true/>
	<key>com.apple.private.nearbyinteraction.device-presence</key>
	<true/>
	<key>com.apple.private.necp.policies</key>
	<true/>
	<key>com.apple.private.nehelper.privileged</key>
	<true/>
	<key>com.apple.private.network.interface-control</key>
	<true/>
	<key>com.apple.private.octagon</key>
	<true/>
	<key>com.apple.private.security.storage.HomeKit</key>
	<true/>
	<key>com.apple.private.skywalk.register-kernel-pipe</key>
	<true/>
	<key>com.apple.private.skywalk.register-user-pipe</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAddressBook</string>
		<string>kTCCServiceBluetoothPeripheral</string>
		<string>kTCCServiceWillow</string>
	</array>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.RPUserNotificationAppSignIn</string>
	</array>
	<key>com.apple.rapport.Client</key>
	<true/>
	<key>com.apple.rapport.siri-audio</key>
	<true/>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.CompanionLink</string>
		<string>com.apple.rapport</string>
		<string>com.apple.securityd.ckks</string>
		<string>com.apple.SharedWebCredentials</string>
		<string>com.apple.SiriVOXService.client</string>
		<string>com.apple.wifip2pd</string>
		<string>com.apple.bluetooth.xpc</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.coredevice</string>
		<string>com.apple.cameracapture</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.rapportd</string>
		<string>com.apple.purplebuddy</string>
		<string>rapportd</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>com.apple.sharing.Client</key>
	<true/>
	<key>com.apple.sharing.DeviceDiscovery</key>
	<true/>
	<key>com.apple.sharing.Services</key>
	<true/>
	<key>com.apple.sharing.Session</key>
	<true/>
	<key>com.apple.wifi.awdl</key>
	<true/>
	<key>com.apple.wifi.events</key>
	<true/>
	<key>com.apple.wifi.events.private</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>com.apple.wifi.wow</key>
	<true/>
	<key>com.apple.wifip2pd</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.airplay.pairing</string>
		<string>com.apple.hap.pairing</string>
		<string>com.apple.pairing</string>
		<string>com.apple.sharing.appleidauthentication</string>
		<string>com.apple.rapport</string>
		<string>InternetAccounts</string>
	</array>
	<key>platform-application</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>rapportd</string>
	</array>
</dict>
</plist>