<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.remotemanagementd</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>com.apple.apsd.ios-device-push-token</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.keystore.device</key>
	<true/>
	<key>com.apple.keystore.sik.access</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled.set</key>
	<array>
		<string>ClientRestrictions</string>
		<string>CloudConfiguration</string>
	</array>
	<key>com.apple.managedconfiguration.teslad-access</key>
	<true/>
	<key>com.apple.mobileactivationd.device-identifiers</key>
	<true/>
	<key>com.apple.mobileactivationd.spi</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.otherIdLookup</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>SerialNumber</string>
		<string>SysCfg</string>
		<string>UniqueDeviceID</string>
	</array>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.remotemanagement.configuration-subscriber-service</key>
	<true/>
	<key>com.apple.private.sandbox.profile:embedded</key>
	<string>temporary-sandbox</string>
	<key>com.apple.private.system-keychain</key>
	<true/>
	<key>com.apple.rootless.storage.remotemanagementd</key>
	<true/>
	<key>com.apple.security.attestation.access</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/tmp/rmd_test/</string>
		<string>/private/var/tmp/com.apple.remotemanagementd/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/Application Support/com.apple.remotemanagementd/</string>
		<string>/Library/Caches/com.apple.remotemanagementd/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.accountsd.accountmanager</string>
		<string>com.apple.apsd</string>
		<string>com.apple.managedconfiguration.profiled</string>
		<string>com.apple.managedconfiguration.teslad</string>
		<string>com.apple.mobile.keybagd.xpc</string>
		<string>com.apple.mobile.keybagd.UserManager.xpc</string>
		<string>com.apple.mobile.usermanagerd.xpc</string>
		<string>com.apple.mobileactivationd</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.remotemanagementd</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.system-container</key>
	<true/>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.configurationprofiles</string>
	</array>
	<key>com.apple.security.ts.tmpdir</key>
	<array>
		<string>com.apple.remotemanagementd</string>
	</array>
	<key>com.apple.usermanagerd.persona.background</key>
	<true/>
	<key>com.apple.usermanagerd.persona.create</key>
	<true/>
	<key>com.apple.usermanagerd.persona.delete</key>
	<true/>
	<key>com.apple.usermanagerd.persona.fetch</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.certificates</string>
		<string>com.apple.identities</string>
		<string>lockdown-identities</string>
	</array>
	<key>platform-application</key>
	<true/>
</dict>
</plist>