<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.rtcreportingd</string>
	<key>com.apple.duet.activityscheduler.allow</key>
	<true/>
	<key>com.apple.networkd.configure_connection_pool</key>
	<true/>
	<key>com.apple.private.RTCLocalBackend.client</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.nsurlsession.impersonate</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-writ</key>
	<array>
		<string>/tmp</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>Library/Logs/RTCReporting/</string>
		<string>Library/Caches/com.apple.rtcreporting/</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.osanalytics</string>
	</array>
	<key>seatbelt-profiles</key>
	<array>
		<string>com.apple.rtcreportingd</string>
	</array>
</dict>
</plist>