<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.Contacts.database-allow</key>
	<true/>
	<key>com.apple.CoreRoutine.LocationOfInterest</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreduetd.context</key>
	<true/>
	<key>com.apple.coreduetd.people</key>
	<true/>
	<key>com.apple.developer.icloud-services</key>
	<true/>
	<key>com.apple.duet.activityscheduler.allow</key>
	<true/>
	<key>com.apple.duet.expertcenter.consumer</key>
	<true/>
	<key>com.apple.fileprovider.enumerate</key>
	<true/>
	<key>com.apple.fileprovider.extension-host</key>
	<true/>
	<key>com.apple.intents.extension.discovery</key>
	<true/>
	<key>com.apple.keystore.lockassertion</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.usage_oracle</key>
	<true/>
	<key>com.apple.mobileassetd.v2</key>
	<true/>
	<key>com.apple.mobilemail.mailservices</key>
	<true/>
	<key>com.apple.private.ClipServices</key>
	<true/>
	<key>com.apple.private.Safari.History</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.attribution.implicitly-assumed-identity</key>
	<dict>
		<key>type</key>
		<string>path</string>
		<key>value</key>
		<string>/System/Library/PrivateFrameworks/Search.framework/searchd</string>
	</dict>
	<key>com.apple.private.contacts</key>
	<true/>
	<key>com.apple.private.corespotlight.internal</key>
	<true/>
	<key>com.apple.private.corespotlight.search.internal</key>
	<true/>
	<key>com.apple.private.corespotlight.sender</key>
	<true/>
	<key>com.apple.private.dmd.emergency-mode</key>
	<true/>
	<key>com.apple.private.dmd.policy</key>
	<true/>
	<key>com.apple.private.iokit.powersource-control</key>
	<true/>
	<key>com.apple.private.kernel.override-cpumon</key>
	<true/>
	<key>com.apple.private.librarian.container-proxy</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.nsurlsession.set-task-priority</key>
	<true/>
	<key>com.apple.private.persona.read</key>
	<true/>
	<key>com.apple.private.screen-time</key>
	<true/>
	<key>com.apple.private.security.storage.Spotlight</key>
	<true/>
	<key>com.apple.private.security.storage.triald</key>
	<true/>
	<key>com.apple.private.subscriptionservice.internal</key>
	<true/>
	<key>com.apple.private.suggestions</key>
	<true/>
	<key>com.apple.private.suggestions.events</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceCalendar</string>
		<string>kTCCServiceReminders</string>
		<string>kTCCServiceAddressBook</string>
	</array>
	<key>com.apple.private.tcc.manager</key>
	<true/>
	<key>com.apple.proactive.ActionPrediction.predictions</key>
	<true/>
	<key>com.apple.proactive.AppPrediction.predictions</key>
	<true/>
	<key>com.apple.proactive.PersonalizationPortrait.Contact</key>
	<true/>
	<key>com.apple.proactive.PersonalizationPortrait.NamedEntity.readOnly</key>
	<true/>
	<key>com.apple.proactive.PersonalizationPortrait.Topic.readOnly</key>
	<true/>
	<key>com.apple.proactive.eventtracker</key>
	<true/>
	<key>com.apple.rootless.storage.coreduet_knowledge_store</key>
	<true/>
	<key>com.apple.rootless.storage.proactivepredictions</key>
	<true/>
	<key>com.apple.searchd.appservice</key>
	<true/>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.ClipServices.clipserviced </string>
	</array>
	<key>com.apple.symptom_analytics.query</key>
	<true/>
	<key>com.apple.symptoms.NetworkOfInterest</key>
	<true/>
	<key>com.apple.trial.client</key>
	<array>
		<string>332</string>
		<string>333</string>
		<string>334</string>
		<string>335</string>
	</array>
	<key>com.apple.usermanagerd.persona.fetch</key>
	<true/>
	<key>com.apple.usermanagerd.persona.observer</key>
	<true/>
	<key>fairplay-client</key>
	<string>965772570</string>
	<key>keychain-access-groups</key>
	<array>
		<string>com.apple.Spotlight</string>
		<string>com.apple.searchd</string>
	</array>
</dict>
</plist>