<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.SensorKit</string>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.multitasking.systemappassertions</key>
	<true/>
	<key>com.apple.nano.nanoregistry</key>
	<true/>
	<key>com.apple.private.followup</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.sensorkitkeys</string>
		<string>com.apple.private.alloy.sensorkit</string>
	</array>
	<key>com.apple.private.ids.messaging.urgent-priority</key>
	<array>
		<string>com.apple.private.alloy.sensorkitkeys</string>
		<string>com.apple.private.alloy.sensorkit</string>
	</array>
	<key>com.apple.private.ids.prefer-infrawifi</key>
	<array>
		<string>com.apple.private.alloy.sensorkit</string>
	</array>
	<key>com.apple.private.security.storage.SensorKit</key>
	<true/>
	<key>com.apple.private.tcc.manager.access.delete</key>
	<array>
		<string>kTCCServiceSensorKitKeyboardMetrics</string>
		<string>kTCCServiceSensorKitOdometer</string>
		<string>kTCCServiceSensorKitFacialMetrics</string>
		<string>kTCCServiceSensorKitBedSensing</string>
		<string>kTCCServiceSensorKitSpeechMetrics</string>
		<string>kTCCServiceSensorKitMotion</string>
		<string>kTCCServiceSensorKitLocationMetrics</string>
		<string>kTCCServiceSensorKitAmbientLightSensor</string>
		<string>kTCCServiceSensorKitWatchHeartRate</string>
		<string>kTCCServiceSensorKitWatchOnWristState</string>
		<string>kTCCServiceSensorKitPedometer</string>
		<string>kTCCServiceSensorKitWatchFallStats</string>
		<string>kTCCServiceSensorKitForegroundAppCategory</string>
		<string>kTCCServiceSensorKitSpeechMetrics</string>
		<string>kTCCServiceSensorKitMotionHeartRate</string>
		<string>kTCCServiceSensorKitElevation</string>
		<string>kTCCServiceSensorKitStrideCalibration</string>
		<string>kTCCServiceSensorKitDeviceUsage</string>
		<string>kTCCServiceSensorKitPhoneUsage</string>
		<string>kTCCServiceSensorKitMessageUsage</string>
		<string>kTCCServiceSensorKitWatchMotion</string>
		<string>kTCCServiceSensorKitWatchAmbientLightSensor</string>
		<string>kTCCServiceSensorKitWatchPedometer</string>
		<string>kTCCServiceSensorKitWatchForegroundAppCategory</string>
		<string>kTCCServiceSensorKitWatchSpeechMetrics</string>
	</array>
	<key>com.apple.private.tcc.manager.access.read</key>
	<array>
		<string>kTCCServiceAll</string>
	</array>
	<key>com.apple.private.tcc.manager.check-by-audit-token</key>
	<array>
		<string>kTCCServiceAll</string>
	</array>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.SensorKit.reminder</string>
	</array>
	<key>com.apple.private.xpc.launchd.enable-disable-system-services</key>
	<array>
		<string>com.apple.facemetricsd</string>
	</array>
	<key>com.apple.rootless.storage.sensorkit</key>
	<true/>
	<key>com.apple.runningboard.assertions.sensorkit</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
	</array>
	<key>platform-application</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>sensorkitd</string>
	</array>
</dict>
</plist>