<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abs-client</key>
	<string>1821501079</string>
	<key>application-identifier</key>
	<string>com.apple.sirittsd</string>
	<key>com.apple.coreaudio.register-internal-aus</key>
	<true/>
	<key>com.apple.developer.networking.multipath_extended</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.Trial.Siri.SiriTextToSpeech</string>
	</array>
	<key>com.apple.private.assets.bypass-asset-types-check</key>
	<true/>
	<key>com.apple.private.coreaudio.borrowaudiosession.allow</key>
	<true/>
	<key>com.apple.private.sandbox.profile</key>
	<string>temporary-sandbox</string>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/mobile/Library/Trial/</string>
		<string>/private/var/MobileAsset/</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/tmp/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/HTTPStorages/com.apple.sirittsd/</string>
		<string>/Library/Caches/com.apple.sirittsd/</string>
		<string>/Library/Logs/SiriTTSService/</string>
		<string>/Library/VoiceServices/</string>
	</array>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>AGXCommandQueue</string>
		<string>AGXDevice</string>
		<string>AGXDeviceUserClient</string>
		<string>AGXSharedUserClient</string>
		<string>H11ANEInDirectPathClient</string>
		<string>IOAccelContext</string>
		<string>IOAccelContext2</string>
		<string>IOAccelDevice</string>
		<string>IOAccelDevice2</string>
		<string>IOAccelSharedUserClient</string>
		<string>IOAccelSharedUserClient2</string>
		<string>IOAccelSubmitter2</string>
		<string>IOSurfaceRootUserClient</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.coremedia.samplebufferaudiorenderer.xpc</string>
		<string>com.apple.coremedia.samplebufferrendersynchronizer.xpc</string>
		<string>com.apple.audio.AudioQueueServer</string>
		<string>com.apple.audio.AudioSession</string>
		<string>com.apple.fairplayd.versioned</string>
		<string>com.apple.audio.AudioComponentRegistrar</string>
		<string>com.apple.mobileassetd.v2</string>
		<string>com.apple.triald.namespace-management</string>
		<string>com.apple.siri.analytics.assistant</string>
		<string>com.apple.appleneuralengine</string>
		<string>com.apple.mobileasset.autoasset</string>
		<string>com.apple.coremedia.systemcontroller.xpc</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.coreaudio</string>
		<string>com.apple.osprey</string>
		<string>com.apple.voiceservices</string>
		<string>com.apple.internal.ck</string>
		<string>com.apple.coremedia</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.trial.client</key>
	<array>
		<string>406</string>
	</array>
	<key>fairplay-client</key>
	<string>511712240</string>
	<key>keychain-access-groups</key>
	<array>
		<string>com.apple.siri.osprey</string>
	</array>
</dict>
</plist>