<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
	</array>
	<key>com.apple.Contacts.database-allow</key>
	<true/>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.imagent.chat</key>
	<true/>
	<key>com.apple.imagent.chat.av</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.emergency_enabler</key>
	<true/>
	<key>com.apple.nano.nanoregistry.generalaccess</key>
	<true/>
	<key>com.apple.private.attribution.implicitly-assumed-identity</key>
	<dict>
		<key>type</key>
		<string>path</string>
		<key>value</key>
		<string>/System/Library/PrivateFrameworks/SOS.framework/sosd</string>
	</dict>
	<key>com.apple.private.healthkit.medicaliddata</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.soscoordination</string>
	</array>
	<key>com.apple.private.ids.messaging.urgent-priority</key>
	<array>
		<string>com.apple.private.alloy.soscoordination</string>
	</array>
	<key>com.apple.private.ids.phone-number-authentication</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAddressBook</string>
	</array>
	<key>com.apple.private.tcc.manager.access.modify</key>
	<array/>
	<key>com.apple.private.tcc.manager.access.read</key>
	<array/>
	<key>com.apple.private.tcc.manager.check-by-audit-token</key>
	<array/>
	<key>com.apple.runningboard.launchprocess</key>
	<true/>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.corespeech.voicetriggerservice</string>
		<string>com.apple.SBUserNotification</string>
	</array>
	<key>com.apple.sos.contacts</key>
	<true/>
	<key>com.apple.sos.trigger</key>
	<true/>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.allowallcallurls</key>
	<true/>
	<key>com.apple.springboard.statusbarstyleoverrides</key>
	<true/>
	<key>com.apple.telephonyutilities.callservicesd</key>
	<array>
		<string>access-call-providers</string>
		<string>access-calls</string>
	</array>
	<key>com.apple.voicetrigger.voicetriggerservice</key>
	<true/>
</dict>
</plist>