<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.AXMediaUtilitiesService-access</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
	</array>
	<key>com.apple.DragUI.accessibility</key>
	<true/>
	<key>com.apple.Pasteboard.trusted-authentication-message-request</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCDynamicStore-write-access</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<array>
		<string>com.apple.AutoWake.xml</string>
	</array>
	<key>com.apple.accessibility.BrailleTranslationService-access</key>
	<true/>
	<key>com.apple.accessibility.api</key>
	<true/>
	<key>com.apple.accessibility.axassets</key>
	<true/>
	<key>com.apple.accessibility.physicalinteraction.client</key>
	<true/>
	<key>com.apple.accessibility.voiceover</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.carousel.backlightaccess</key>
	<true/>
	<key>com.apple.coreaudio.allow-opus-codec</key>
	<true/>
	<key>com.apple.coreaudio.register-internal-aus</key>
	<true/>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>com.apple.voiceovertouch</string>
	<key>com.apple.frontboard.debugapplications</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.hid.manager.user-access-device</key>
	<true/>
	<key>com.apple.hid.system.user-access-service</key>
	<true/>
	<key>com.apple.iapd.accessibility</key>
	<true/>
	<key>com.apple.idle-timer-services</key>
	<true/>
	<key>com.apple.keyboardservices.textreplacement.allow</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.mobile.keybagd.UserManager.logout</key>
	<true/>
	<key>com.apple.private.appleaccount.app-hidden-from-icloud-settings</key>
	<true/>
	<key>com.apple.private.applecredentialmanager.allow</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.TTSAXResourceModelAssets</string>
		<string>com.apple.MobileAsset.VoiceServices.CustomVoice</string>
		<string>com.apple.MobileAsset.MacinTalkVoiceAssets</string>
		<string>com.apple.MobileAsset.VoiceServices.GryphonVoice</string>
		<string>com.apple.MobileAsset.VoiceServicesVocalizerVoice</string>
		<string>com.apple.MobileAsset.VoiceServices.VoiceResources</string>
		<string>com.apple.MobileAsset.VoiceServices.CombinedVocalizerVoices</string>
		<string>com.apple.MobileAsset.CharacterVoices</string>
		<string>com.apple.MobileAsset.AXIconVision</string>
		<string>com.apple.MobileAsset.AXElementVision</string>
	</array>
	<key>com.apple.private.coreaudio.viewInterruptorName.allow</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.corewifi</key>
	<true/>
	<key>com.apple.private.donotdisturb.behavior.resolution.client-identifiers</key>
	<array>
		<string>com.apple.accessibility.AXTapticChimesScheduler</string>
	</array>
	<key>com.apple.private.externalaccessory.showallaccessories</key>
	<true/>
	<key>com.apple.private.hid.client.event-dispatch</key>
	<true/>
	<key>com.apple.private.hid.client.event-filter</key>
	<true/>
	<key>com.apple.private.hid.client.event-monitor</key>
	<true/>
	<key>com.apple.private.hid.client.service-protected</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.voiceoversynthesis</string>
	</array>
	<key>com.apple.private.privacy.accounting.write</key>
	<true/>
	<key>com.apple.private.security.container-required</key>
	<true/>
	<key>com.apple.private.security.storage.Photos</key>
	<true/>
	<key>com.apple.private.sociallayer.accessibility</key>
	<true/>
	<key>com.apple.private.sociallayer.highlights</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServicePhotos</string>
	</array>
	<key>com.apple.private.translation</key>
	<true/>
	<key>com.apple.private.ubiquity-additional-kvstore-identifiers</key>
	<array>
		<string>com.apple.VoiceOverTouch</string>
		<string>com.apple.Accessibility</string>
	</array>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.VoiceOverNotifications</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/MobileAsset/Assets/com_apple_MobileAsset_VoiceServices_VoiceResources/</string>
		<string>/private/var/MobileAsset/AssetsV2/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-only</key>
	<array>
		<string>/Media/DCIM/</string>
		<string>/Media/PhotoData/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/Accessibility/</string>
	</array>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>IOHIDResourceDeviceUserClient</string>
		<string>RootDomainUserClient</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.accessibility.axassetsd</string>
		<string>com.apple.homepod.axserver-systemwide</string>
		<string>com.apple.accessibility.BrailleTranslation.BrailleTranslationService</string>
		<string>com.apple.Carousel.wristmonitor</string>
		<string>com.apple.donotdisturb.service</string>
		<string>com.apple.private.corewifi-xpc</string>
		<string>com.apple.TextInput.accessibility</string>
		<string>com.apple.coremedia.flashlight</string>
		<string>com.apple.accessibility.AXSpringBoardServer</string>
		<string>com.apple.SpringBoard.VOT</string>
		<string>AXPerformanceTestReportingServer</string>
		<string>com.apple.appleneuralengine</string>
		<string>com.apple.telephonyutilities.callservicesdaemon.callstatecontroller</string>
		<string>com.apple.AXMediaUtilitiesService</string>
		<string>com.apple.accessibility.AXPineBoardServer</string>
		<string>com.apple.accessibility.AXCarouselServer</string>
		<string>com.apple.sharing.accessibility</string>
		<string>com.apple.siri.activation.service</string>
		<string>com.apple.translationd</string>
		<string>com.apple.accessibility.AXMossdeepServer</string>
		<string>com.apple.sociallayerd</string>
		<string>com.apple.triald.namespace-management</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.local-name</key>
	<array>
		<string>com.apple.AXMediaUtilitiesService</string>
		<string>com.apple.accessibility.BrailleTranslation.BrailleTranslationService</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.nanobuddy</string>
		<string>com.apple.purplebuddy</string>
		<string>com.apple.frontboardservices.device_emulation</string>
		<string>com.apple.avfaudio</string>
		<string>com.apple.NanoTimeKit.face</string>
		<string>com.apple.assistant.logging</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.Accessibility</string>
		<string>com.apple.Accessibility.Assets</string>
		<string>com.apple.VoiceOverTouch</string>
		<string>com.apple.VoiceOverTouch.activities</string>
		<string>com.apple.ZoomTouch</string>
		<string>com.apple.voiceservices</string>
		<string>com.apple.keyboard.ContinuousPath</string>
	</array>
	<key>com.apple.siri.VoiceShortcuts.xpc</key>
	<true/>
	<key>com.apple.siri.activation.service</key>
	<true/>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.system.diagnostics.iokit-properties</key>
	<true/>
	<key>com.apple.telephonyutilities.callservicesd</key>
	<array>
		<string>access-calls</string>
	</array>
	<key>com.apple.trial.client</key>
	<array>
		<string>406</string>
	</array>
	<key>com.apple.voiceservices.tts.customvoice</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>inter-app-audio</key>
	<true/>
</dict>
</plist>